{% load i18n %}

<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">



    </head>


    <body>

        <div id="logo"><img src="{% static "pictures/signature_eplouribousse.svg" %}" alt="Logo eplouribousse Unistra"/></div>
        <div id="content">
        {% if k != 0 %}
        <p style="text-align:right;"><b><font color= #017a04 >@ </font></b>{{ k }} (<a href="/./disconnect">{% trans "Déconnexion" %}</a>)</p>
        {% else %}
        <!-- <b><font color= #ff0004 >(User : Anonymous)</font></b> -->
        <!-- (User : Anonymous) -->
        {% endif %}
        </div>
        <p></p>
          <center>
            <p>***eplouribousse est une application web destinée à faciliter la gestion du dédoublonnement des périodiques dans les bibliothèques.***</p>

            <p>Version : {{ version }}</p>
          <p>{{ date }}</p>
          <p>Licence : <a target="_blank" href="https://www.gnu.org/licenses/gpl-3.0.txt">GPLv3</a></p>
          <p>Développée avec Django 2.2.12 (LTS) et Python 3.5.2, ReportLab open-source [3.5.42], HTML5, CSS3.</p>
          <p>Code en accès libre sur le <a target="_blank" href="https://git.unistra.fr/gressot/yellow"> GitLab</a> de l'Université de Strasbourg et sur les miroirs suivants :</p>
          <p>
            <a target="_blank" href="https://github.com/abes-esr/eplouribousse">GitHub</a> de l'Abes
            ·
            <a target="_blank" href="https://sourcesup.renater.fr/projects/eplouribousse/">SourceSup</a> (accès Renater)
            ·
            <a target="_blank" href="https://github.com/GGre/eplouribounistra"> GitHub</a> du développeur
            ·
            <a target="_blank" href="https://code.launchpad.net/eplouribousse">Launchpad</a> (Help by Canonical Ltd)
          </p>
          <p>Pour demander une information, signaler un bug, faire une réclamation, faire une suggestion, donner un avis ou pour toute autre raison : contacter le <a target="_blank" href="/contact">développeur</a> de l'application.</p>
          <p><a target="_blank" href="https://groupes.renater.fr/sympa/info/eplouribousse-newsletter">{% trans "Me tenir au courant" %}</a> · <a target="_blank" href="https://groupes.renater.fr/sympa/info/eplouribousse">{% trans "Forum des utilisateurs" %}</a> · <a target="_blank" href="https://bugs.launchpad.net/eplouribousse">{% trans "Suivi des bugs" %}</a>{% if webmaster != "" %} · Contacter l'<a target="_blank" href="/webmaster">{% trans "administrateur" %}</a>  du site{% endif %}</p>
          <p>Crédits : eplouribousse utilise des données sous <a target="_blank" href="http://www.abes.fr/Media/Fichiers/Footer/Presentation-de-l-ABES/licence-Etalab-francais">licence etalab</a> fournies par l'<a target="_blank" href="https://abes.fr/l-abes/presentation/">Abes</a>.</p>
          <p>Copyright (C) 2018-{% now 'Y' %} : Georges Gressot, Conservation et valorisation des collections · Service des bibliothèques de l'Université de Strasbourg.</p></center>


    </body>

</html>
