<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    </head>


    <body>

      <div id="logo"><img src="{% static "pictures/signature_eplouribousse.svg" %}" alt="Logo eplouribousse Unistra"/></div>

      <h2>Ressources dont le statut "à arbitrer" pourrait être levé par un repositionnement ({{ name }}) : </h2>
      <div id="content">

      <p>(Ressources "à arbitrer" : Rang 1 revendiqué par plusieurs bibliothèques ou par aucune)</p>

      <p>Nombre de ressources concernées : {{ size }}</p>

      <p></p>
      <p>Pour chercher une occurence dans cette liste, veuillez utiliser la fonctionnalité de recherche du navigateur.</p>

          <p>Pour modifier votre positionnement, cliquez sur le lien "Identifiant de la ressource".</p>

            <ul>

              {% for elmt in ressourcelist %}
                            <HR>
                <p></p>
                <li><b>Titre :</b> {{ elmt.title|truncatewords:80 }}</li>
                <li><b>Cote :</b> {{ elmt.cn }}</li>
                <li><b>Identifiant de la ressource :</b> <a href="/./epl/ranking/{{ elmt.sid }}/{{ lid }}">{{ elmt.sid }}</a></li>

              {% endfor %}

            </ul>
        </div>

        <div id="menugeneral">

            <p>Menu : <a href="/./epl/to_rank_list/{{ lid }}">Positionnements</a> - <a href="/./epl/instrtodo/{{ lid }}">Instructions</a> - <a href="/./epl/to_edit_list/{{ lid }}">Edition des résultantes</a></p>

        </div>

        <div id="footer">
              <p><a href="/./epl/home">Accueil</a> - <a target="_blank" href="https://seafile.unistra.fr/f/a998b238a22b4c13baf5/">Manuel de l'utilisateur</a></p>
        </div>
        <div id="credits">
            <p>Conservation et valorisation des collections · Service des bibliothèques de l'Université de Strasbourg</p>
			<p><a target="_blank" href="https://seafile.unistra.fr/f/a264af5a98154545b5d3/">A propos</a></p>
        </div>
    </body>

</html>
