{% load i18n %}

<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">



    </head>


    <body>

        <div id="logo"><img src="{% static "pictures/signature_eplouribousse.svg" %}" alt="Logo eplouribousse Unistra"/></div>
        {% if k != 0 %}
        <b><font color= #017a04 >@ </font></b>{{ k }} (<a href="/./disconnect">{% trans "Déconnexion" %}</a>)
        {% else %}
        <!-- <b><font color= #ff0004 >(User : Anonymous)</font></b> -->
        <!-- (User : Anonymous) -->
        {% endif %}
        <p></p>
        <h1>{% trans "Accueil" %}</h1>
        <h2>{% trans "Projet" %} : {{ project }}</h2>

        <div id="content">


            <p>{% trans "Intervention possible pour le contrôleur" %} : <a href="/allinstr/999999999/title">{% trans "Instructions" %}</a></p>

        </div>

        <div id="footer">

            <p><a href="/search">{% trans "Recherche (bêta)" %}</a> - <a href="/dashboard">{% trans "Supervision" %}</a> - <a target="_blank" href="{% static 'doc/User_Documentation.pdf' %}">{% trans "Manuel de l'utilisateur" %}</a> - <a href="/./accounts/password_change">{% trans "Changer mon mot de passe" %}</a> - [<a href="/./admin">{% trans "Administration (réservé)" %}</a>] - <a href="/./lang">{% trans "en / de" %}</a></p>

        </div>

        <div id="credits">

            <p>Conservation et valorisation des collections · Service des bibliothèques de l'Université de Strasbourg · {{ version }} · <a target="_blank" href="/about">{% trans "A propos" %}</a></p>

<p>eplouribousse utilise des données sous <a target="_blank" href="http://www.abes.fr/Media/Fichiers/Footer/Presentation-de-l-ABES/licence-Etalab-francais">licence etalab</a> fournies par l'Agence bibliographique de l’Enseignement supérieur.</p>

		</div>

    </body>

</html>
