{% load i18n %}
<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


    </head>


    <body>
      {% if k != 0 %}
      <b><font color= #017a04 >@ </font></b>{{ k }} (<a href="/./disconnect">{% trans "Déconnexion" %}</a>)
      {% else %}
      <!-- <b><font color= #ff0004 >(User : Anonymous)</font></b> -->
      <!-- (User : Anonymous) -->
      {% endif %}
      <p></p>
      <h2>{{ lib.name }} - {% trans "Suppression d'une ligne" %}</h2>
      <div id="content">

        <p><b>{% trans "Titre" %} :</b> {{ ress.title|truncatewords:80 }} / <b>{% trans "Identifiant de la ressource" %} :</b> <a href="http://www.sudoc.fr/{{ sid }}" target="_blank">
          {{ ress.sid }}</a> / <b>issn :</b> {{ ress.issn }} / <b>{% trans "Historique de la publication" %} :</b> {{ ress.pubhist }}</p>
        <p>{% trans "Ordre de traitement" %} :
            {% for elmt in liblist %}
                {{ elmt.name }} |
            {% endfor %}</p>

      <p><i>{% trans "Les lignes en rouge ne peuvent plus être supprimées" %} :</i></p>

      <table border="1">

         <thead>

             <th>{% trans "Ligne" %}</th>
             <th>{% trans "Bibliothèque" %}</th>
             <th>{% trans "Forme reliée" %}</th>
             <th>{% trans "Bibliothèque remédiée" %}</th>
             <th>{% trans "Segment" %}</th>
             <th>{% trans "Exceptions" %}</th>
             <th>{% trans "Eléments améliorables" %}</th>

         </thead>

         <tbody>

           {% for elmt in instrlist %}
              {% if elmt.name == lib.name and elmt.bound == expected %}
          <tr>
               <td><center><font color= #2ba121 >{{ elmt.line }}</font></center></td>
               <td><font color= #2ba121 >{{ elmt.name }}</font></td>
               <td><center><font color= #2ba121 >{{ elmt.bound }}</font></center></td>
               <td><font color= #2ba121 >{{ elmt.oname }}</font></td>
               <td><font color= #2ba121 >{{ elmt.descr }}</font></td>
               <td><font color= #2ba121 >{{ elmt.exc}}</font></td>
               <td><font color= #2ba121 >{{ elmt.degr }}</font></td>
          </tr>
              {% else %}
          <tr>
              <td><center><font color= #e32111 >{{ elmt.line }}</font></center></td>
              <td><font color= #e32111 >{{ elmt.name }}</font></td>
              <td><center><font color= #e32111 >{{ elmt.bound }}</font></center></td>
              <td><font color= #e32111 >{{ elmt.oname }}</font></td>
              <td><font color= #e32111 >{{ elmt.descr }}</font></td>
              <td><font color= #e32111 >{{ elmt.exc}}</font></td>
              <td><font color= #e32111 >{{ elmt.degr }}</font></td>

          </tr>
              {% endif %}
           {% endfor %}
         </tbody>


      </table>



      <form method="post">{% csrf_token %}
          <p>{% trans "Ligne à supprimer" %} : {{ f.line }} <B><font color= #e74c3c >{{ answer }}</font></B></p>
          <p><input type="submit" value="{% trans "Valider" %}"></p>
      </div>
      </form>

      <div id="menucontextuel">

        <p><button><b><a href="/add/{{ sid }}/{{ lid }}">{% trans "Poursuivre l'instruction" %}</a></b></button> - <button><b><a href="/end/{{ sid }}/{{ lid }}">{% trans "J'ai fini pour la forme courante" %}</a><b></button> - <button><b><a href="/router">{% trans "Reprendre plus tard" %}</a></b></button></p>

      </div>


        <div id="footer">

            <p><a href="/">{% trans "Accueil" %}</a> - <a target="_blank" href="{% static 'doc/User_Documentation.pdf' %}">{% trans "Manuel de l'utilisateur" %}</a></p>

        </div>

        <div id="credits">
            <p>Conservation et valorisation des collections · Service des bibliothèques de l'Université de Strasbourg · {{ version }} · <a target="_blank" href="/about">{% trans "A propos" %}</a></p>

<p>eplouribousse utilise des données sous <a target="_blank" href="http://www.abes.fr/Media/Fichiers/Footer/Presentation-de-l-ABES/licence-Etalab-francais">licence etalab</a> fournies par l'Agence bibliographique de l’Enseignement supérieur.</p>

        </div>

    </body>

</html>
