{% load i18n %}
<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="../../../../static/css/style.css">

    </head>


    <body>

      <h2>{% trans "Suppression d'une ligne d'instruction pour" %} {{ library.name }} : </h2>
      <div id="content">

        <p><b>{% trans "Titre" %} :</b> {{ ressource.title|truncatewords:80 }}</p>
        <p><b>{% trans "Identifiant de la ressource" %} :</b> <a href="http://www.sudoc.fr/{{ sid }}" target="_blank">
          {{ ressource.sid }}</a> / <b>issn :</b> {{ ressource.issn }} / <b>{% trans "Historique de la publication" %} :</b> {{ ressource.pubhist }}</p>
      <p></p>

        {% for elmt in librarylist %}
            | {{ elmt.name }}
        {% endfor %}
      <p><i></i>{% trans "Les lignes en rouge ne peuvent plus être supprimées." %}</i></p>
      <table border="1">

         <thead>

             <th>{% trans "Ligne" %}</th>
             <th>{% trans "Bibliothèque" %}</th>
             <th>{% trans "Relié ?" %}</th>
             <th>{% trans "Bibliothèque remédiée" %}</th>
             <th>{% trans "Segment" %}</th>
             <th>{% trans "Exception(s)" %}</th>
             <th>{% trans "Elément(s) améliorable(s)" %}</th>

         </thead>

         <tbody>

           {% for elmt in instructions %}
              {% if elmt.name == library.name and elmt.bound == expected %}
          <tr>
               <td><center><font color= #2ba121 >{{ elmt.line }}</font></center></td>
               <td><font color= #2ba121 >{{ elmt.name }}</font></td>
               <td><center><font color= #2ba121 >{{ elmt.bound }}</font></center></td>
               <td><font color= #2ba121 >{{ elmt.oname }}</font></td>
               <td><font color= #2ba121 >{{ elmt.descr }}</font></td>
               <td><font color= #2ba121 >{{ elmt.exc}}</font></td>
               <td><font color= #2ba121 >{{ elmt.degr }}</font></td>
          </tr>
              {% else %}
          <tr>
              <td><center><font color= #e32111 >{{ elmt.line }}</font></center></td>
              <td><font color= #e32111 >{{ elmt.name }}</font></td>
              <td><center><font color= #e32111 >{{ elmt.bound }}</font></center></td>
              <td><font color= #e32111 >{{ elmt.oname }}</font></td>
              <td><font color= #e32111 >{{ elmt.descr }}</font></td>
              <td><font color= #e32111 >{{ elmt.exc}}</font></td>
              <td><font color= #e32111 >{{ elmt.degr }}</font></td>

          </tr>
              {% endif %}
           {% endfor %}
         </tbody>


      </table>



      <form method="post">{% csrf_token %}

          <p>{% trans "Vous ne pouvez supprimer une ligne que pour" %} {{ library.name }} {% trans "et pour la forme couramment instruite" %} ({{ stage }})</p>
          <p>{% trans "n° de la ligne que vous souhaitez supprimer" %} : {{ form.line }} <B><font color= #e74c3c >{{ answer }}</font></B></p>
      <p>{% trans "Attention : La suppression est définitive. Vérifiez bien avant de valider" %} : <input type="submit" value="{% trans "Valider" %}"></p>
      </form>


        <p><a href="/add/{{ sid }}/{{ lid }}">{% trans "Poursuivre l'instruction" %}</a></p>
        <p><a href="/end/{{ sid }}/{{ lid }}">{% trans "J'ai fini pour la forme courante" %}</a></p>

</div>

        <div id="footer">
            <p><a href="/">{% trans "Accueil" %}</a> - <a target="_blank" href="https://seafile.unistra.fr/f/a998b238a22b4c13baf5/">{% trans "Manuel de l'utilisateur" %}</a></p>
        </div>

        <div id="credits">
            <p>Conservation et valorisation des collections · Service des bibliothèques de l'Université de Strasbourg</p>
			<p><a target="_blank" href="https://seafile.unistra.fr/f/a264af5a98154545b5d3/">{% trans "A propos" %}</a></p>
        </div>

    </body>

</html>
