{% load i18n %}
<!DOCTYPE html>

<html>

    <head>


      <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="../../../../static/css/style.css">

    </head>


    <body>

      <h2>{% trans "Confirmer pour ma part" %} ({{ library.name }}) {% trans "la fin des instructions pour la forme considérée" %} ({{ stage }}) : </h2>
      <div id="content">

        <p><b>{% trans "Titre" %} :</b> {{ ressource.title|truncatewords:80 }}</p>
        <p><b>{% trans "Identifiant de la ressource" %} :</b> <a href="http://www.sudoc.fr/{{ sid }}" target="_blank">
          {{ ressource.sid }}</a> / <b>issn :</b> {{ ressource.issn }} / <b>{% trans "Historique de la publication" %} :</b> {{ ressource.pubhist }}</p>
        {% if lid != '999999999' %}
      <p><i>{% trans "Les dernières lignes validées par votre bibliothèque pour la forme considérée sont mises en évidence." %}</i></p>
        {% endif %}

        {% for elmt in librarylist %}
            | {{ elmt.name }}
        {% endfor %}
      <p></p>
      <table border="1">

         <thead>

             <th>{% trans "Ligne" %}</th>
             <th>{% trans "Bibliothèque" %}</th>
             <th>{% trans "Relié ?" %}</th>
             <th>{% trans "Bibliothèque remédiée" %}</th>
             <th>{% trans "Segment" %}</th>
             <th>{% trans "Exception(s)" %}</th>
             <th>{% trans "Elément(s) améliorable(s)" %}</th>

         </thead>

         <tbody>

           {% for elmt in instructions %}
              {% if elmt.name == library.name and elmt.bound == expected %}
          <tr>
               <td><center><font color= #e74c3c >{{ elmt.line }}</font></center></td>
               <td><font color= #e74c3c >{{ elmt.name }}</font></td>
               <td><center><font color= #e74c3c >{{ elmt.bound }}</font></center></td>
               <td><font color= #e74c3c >{{ elmt.oname }}</font></td>
               <td><font color= #e74c3c >{{ elmt.descr }}</font></td>
               <td><font color= #e74c3c >{{ elmt.exc}}</font></td>
               <td><font color= #e74c3c >{{ elmt.degr }}</font></td>
          </tr>
              {% else %}
          <tr>
              <td><center>{{ elmt.line }}</center></td>
              <td>{{ elmt.name }}</td>
              <td><center>{{ elmt.bound }}</center></td>
              <td>{{ elmt.oname }}</td>
              <td>{{ elmt.descr }}</td>
              <td>{{ elmt.exc}}</td>
              <td>{{ elmt.degr }}</td>

          </tr>
              {% endif %}
           {% endfor %}
         </tbody>


      </table>

      <p>{{ info }}</p>
        {% if lid == '999999999' %}
        <form method="post">{% csrf_token %}
        <div>
        <p>{{ checkerform }}</p>
        <p><input type="submit" value="{% trans "Valider" %}"></p>
        </div>
        </form>
        {% else %}
          <form method="post">{% csrf_token %}
          <div>
          <p>{% trans "Je confirme que j'ai fini pour la forme courante" %} :  {{ checkform.flag }}</p>
          <p>{% trans "Vérifiez bien avant de valider" %}.</p>
          <p><input type="submit" value="{% trans "Valider" %}"></p>
          </div>
          </form>
            <p><a href="/add/{{ sid }}/{{ lid }}">{% trans "Revenir à l'instruction" %}</a>
            <p><a href="/del/{{ sid }}/{{ library.lid }}">{% trans "Supprimer une ligne erronée" %}</a></p>
        {% endif %}
</div>
        <div id="footer">
            <p><a href="/">{% trans "Accueil" %}</a> - <a target="_blank" href="https://seafile.unistra.fr/f/a998b238a22b4c13baf5/">{% trans "Manuel de l'utilisateur" %}</a></p>
        </div>

        <div id="credits">
            <p>Conservation et valorisation des collections · Service des bibliothèques de l'Université de Strasbourg</p>
			<p><a target="_blank" href="https://seafile.unistra.fr/f/a264af5a98154545b5d3/">{% trans "A propos" %}</a></p>
        </div>
    </body>

</html>
