{% load i18n %}
<!DOCTYPE html>

<html>

    <head>


      <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


    </head>
    <div id="sticky-section">
      <nav id="sticky-menu">
          <a href="/">{% trans "Accueil" %}</a>
          <a href="/dashboard">{% trans "Supervision" %}</a>
          <a href="/search">{% trans "Recherche (bêta)" %}</a>
          <a target="_blank" href="{% static 'doc/User_Documentation.pdf' %}">{% trans "Manuel de l'utilisateur" %}</a>
          <a target="_blank" href="/about">{% trans "A propos" %}</a>
      </nav>

          {% if k != 0 %}
          <p style="text-align:right;"><b><font color= #017a04 >@ </font></b>{{ k }} (<a href="/./disconnect">{% trans "Déconnexion" %}</a>)</p>
          {% else %}
          <!-- <b><font color= #ff0004 >(User : Anonymous)</font></b> -->
          <!-- (User : Anonymous) -->
          {% endif %}

          <h2>{{ library.name }} - {% trans "Fin des instructions" %} - {{ stage }}</h2>

            <p><b>{% trans "Titre" %} :</b> {{ ressource.title|truncatewords:80 }}</p>
            <p><b>{% trans "Identifiant de la ressource" %} :</b> <a href="http://www.sudoc.fr/{{ sid }}" target="_blank">
              {{ ressource.sid }}</a> / <b>issn :</b> {{ ressource.issn }} / <b>{% trans "Historique de la publication" %} :</b> {{ ressource.pubhist }}


            {% for elmt in librarylist %}
                | {{ elmt.name }}
            {% endfor %}</p>
            {% if lid != '999999999' %}
              <p><i>{% trans "Les lignes saisies pour la forme courante sont mises en évidence" %}</i></p>
            {% endif %}
        <HR>
      </div>

    <body>



    <div id="content">
      <table border="1">

         <thead>

             <th>{% trans "Ligne" %}</th>
             <th>{% trans "Bibliothèque" %}</th>
             <th>{% trans "Forme reliée" %}</th>
             <th>{% trans "Bibliothèque remédiée" %}</th>
             <th>{% trans "Segment" %}</th>
             <th>{% trans "Exceptions" %}</th>
             <th>{% trans "Eléments améliorables" %}</th>

         </thead>

         <tbody>

           {% for elmt in instructions %}
              {% if elmt.name == library.name and elmt.bound == expected %}
          <tr>
               <td><center><font color= #e74c3c >{{ elmt.line }}</font></center></td>
               <td><font color= #e74c3c >{{ elmt.name }}</font></td>
               <td><center><font color= #e74c3c >{{ elmt.bound }}</font></center></td>
               <td><font color= #e74c3c >{{ elmt.oname }}</font></td>
               <td><font color= #e74c3c >{{ elmt.descr }}</font></td>
               <td><font color= #e74c3c >{{ elmt.exc}}</font></td>
               <td><font color= #e74c3c >{{ elmt.degr }}</font></td>
          </tr>
              {% else %}
          <tr>
              <td><center>{{ elmt.line }}</center></td>
              <td>{{ elmt.name }}</td>
              <td><center>{{ elmt.bound }}</center></td>
              <td>{{ elmt.oname }}</td>
              <td>{{ elmt.descr }}</td>
              <td>{{ elmt.exc}}</td>
              <td>{{ elmt.degr }}</td>

          </tr>
              {% endif %}
           {% endfor %}
         </tbody>


      </table>
    </div>
        {% if lid == '999999999' %}
        <div id="content">
          <form method="post">{% csrf_token %}
          <div>
          <p>{{ checkerform }}</p>
          <p><input type="submit" value="{% trans "Valider" %}"></p>
          </div>
          </form>
        </div>
        {% else %}
        <div id="content">
          <form method="post">{% csrf_token %}
          <div>
          <p><b><font color= #017a04 >{{ info }}</font></b></p>
          <p>{{ checkform.flag }} {% trans "J'ai bien vérifié avant de valider" %}</p>
          <p><input type="submit" value="{% trans "Valider" %}"></p>
          </div>
          </form>
          </div>
          <div id="menucontextuel">
            <p><button><b><a href="/add/{{ sid }}/{{ lid }}">{% trans "Retour à l'instruction" %}</a></b></button> - <button><b><a href="/del/{{ sid }}/{{ library.lid }}">{% trans "Supprimer une ligne erronée" %}</a></b></button> - <button><b><a href="/sel/{{ sid }}/{{ library.lid }}">{% trans "Modifier une ligne erronée" %}</a></b></button> - <button><b><a href="/router">{% trans "Reprendre plus tard" %}</a></b></button></p>
          </div>
        {% endif %}
      <!-- </div> -->



        <div id="credits">
            <p>Conservation et valorisation des collections · Service des bibliothèques de l'Université de Strasbourg · <a target="_blank" href="/about">{% trans "A propos" %}</a></p>

<p>eplouribousse utilise des données sous <a target="_blank" href="http://www.abes.fr/Media/Fichiers/Footer/Presentation-de-l-ABES/licence-Etalab-francais">licence etalab</a> fournies par l'Agence bibliographique de l’Enseignement supérieur.</p><p>Version : {{ version }}</p>

        </div>
    </body>

</html>
