{% load i18n %}
<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="../../../../static/css/style.css">


    </head>


    <body>
      {% if k != 0 %}
      <b><font color= #017a04 >@ </font></b>{{ k }} (<a href="/./disconnect">{% trans "Déconnexion" %}</a>)
      {% else %}
      <!-- <b><font color= #ff0004 >(User : Anonymous)</font></b> -->
      <!-- (User : Anonymous) -->
      {% endif %}
      <p></p>
      <h2>{{ name }} - {% trans "ressources à instruire" %} - {% trans "forme reliée, rang 1" %}</h2>

       <div id="content">

      <p>{% trans "Nombre de ressources concernées" %} : {{ size }}</p>


      <p></p>
      <p>{% trans "Pour chercher une occurrence dans cette liste, veuillez utiliser la fonctionnalité de recherche du navigateur." %}</p>
      <p>{% trans "Pour instruire, cliquez sur le lien [Identifiant de la ressource]" %}.</p>
      <ul>

      {% for elmt in ressourcelist %}

            <HR>
      <p></p>
          <li><b>{% trans "Titre" %} :</b> {{ elmt.title }}</li>
          <li><b>{% trans "Cote" %} :</b> {{ elmt.cn }}</li>
          <li><b>{% trans "Identifiant de la ressource" %} :</b> <a href="/add/{{ elmt.sid }}/{{ elmt.lid }}">{{ elmt.sid }}</a></li>



      {% endfor %}
           <HR>

      </ul>

      </div>

        <div id="menucontextuel">

      <p><b>{% trans "Menu [instructions]" %} : </b><a href="/allinstr/{{ lid }}">{% trans "tout" %}</a> - <a href="/bdnot1/{{ lid }}">{% trans "reliés autre rang" %}</a> - <a href="/notbd1/{{ lid }}">{% trans "non reliés rang 1" %}</a> - <a href="/notbdnot1/{{ lid }}">{% trans "non reliés autre rang" %}</a></p>
        </div>

        <div id="menugeneral">

      <p><b>{% trans "Menu général" %} : </b><a href="/rklist/{{ lid }}">{% trans "Positionnement" %}</a> - <a href="/arb/{{ lid }}">{% trans "Arbitrages" %}</a> - <a href="/edlist/{{ lid }}">{% trans "Edition" %}</a></p>
        </div>


        <div id="footer">
            <p><a href="/">{% trans "Accueil" %}</a> - <a target="_blank" href="https://seafile.unistra.fr/f/a998b238a22b4c13baf5/">{% trans "Manuel de l'utilisateur" %}</a></p>
        </div>

        <div id="credits">
            <p>Conservation et valorisation des collections · Service des bibliothèques de l'Université de Strasbourg · {{ version }} · <a target="_blank" href="https://github.com/GGre/eplouribounistra/blob/master/About.txt">{% trans "A propos" %}</a></p>

<p>eplouribousse utilise des données sous <a target="_blank" href="http://www.abes.fr/Media/Fichiers/Footer/Presentation-de-l-ABES/licence-Etalab-francais">licence etalab</a> fournies par l'Agence bibliographique de l’Enseignement supérieur.</p>

        </div>

    </body>

</html>
