<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    </head>


    <body>
        <div id="logo"><img src="{% static "pictures/signature_eplouribousse.svg" %}" alt="Logo eplouribousse Unistra"/></div>

      <h2>Liste des ressources à instruire pour {{ name }} (forme non reliée, rang autre que le premier)</h2>
        <div id="content">

      <p>Nombre de ressources concernées : {{ size }}</p>

      <p></p>
      <p>Pour chercher n'importe quelle occurence dans cette liste, veuillez utiliser la fonctionnalité de recherche du navigateur.</p>

      <p></p>


      <ul>

      {% for elmt in ressourcelist %}

            <HR>
      <p></p>
          <li><b>Titre :</b> {{ elmt.title }}</li>
          <li><b>Cote :</b> {{ elmt.cn }}</li>
          <li><b>Identifiant de la ressource :</b> <a href="/./epl/addinstruction/{{ elmt.sid }}/{{ elmt.lid }}">{{ elmt.sid }}</a></li>



      {% endfor %}

      </ul>
        </div>
        <div id="menucontextuel">

        <p>Menu "instructions" : <a href="/./epl/instrtodo/{{ lid }}">tout</a> - <a href="/./epl/instrtodobd1/{{ lid }}">reliés rang 1</a> - <a href="/./epl/instrtodobdnot1/{{ lid }}">reliés autres rangs</a> - <a href="/./epl/instrtodonotbd1/{{ lid }}">non reliés rang 1</a></p>

        <div id="menugeneral">

        <p>Menu général : <a href="/./epl/to_rank_list/{{ lid }}">Positionnements</a> - <a href="/./epl/arbitration/{{ lid }}">Arbitrages</a> - <a href="/./epl/to_edit_list/{{ lid }}">Edition des résultantes</a></p>


        <div id="footer">
        <p><a href="/./epl/home">Accueil</a> - <a target="_blank" href="https://seafile.unistra.fr/f/a998b238a22b4c13baf5/">Manuel de l'utilisateur</a></p>
        <div id="credits">
            <p>Conservation et valorisation des collections · Service des bibliothèques de l'Université de Strasbourg</p>
			<p><a target="_blank" href="https://seafile.unistra.fr/f/a264af5a98154545b5d3/">A propos</a></p>
        </div>
    </body>

</html>
