{% load i18n %}
<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


    </head>
    <div id="sticky-section">
      <nav id="sticky-menu">
          <a href="/{{ bdd }}">{% trans "Accueil" %}</a>
          <a href="/{{ bdd }}/dashboard">{% trans "Supervision" %}</a>
          <a href="/{{ bdd }}/search">{% trans "Recherche (bêta)" %}</a>
          <a target="_blank" href="{% static 'doc/User_Documentation.pdf' %}">{% trans "Manuel de l'utilisateur" %}</a>
          <a target="_blank" href="default/about">{% trans "A propos" %}</a>
      </nav>
          {% if k != 0 %}
          <p style="text-align:right;"><b><font color= #017a04 >@ </font></b>{{ k }} (<a href="/./{{ bdd }}/disconnect">{% trans "Déconnexion" %}</a>)</p>
          {% else %}
          <!-- <b><font color= #ff0004 >(User : Anonymous)</font></b> -->
          <!-- (User : Anonymous) -->
          {% endif %}
          <h2>{{ libname }} - {% trans "Instructions" %} - {% trans "toutes formes, tous rangs" %}</h2>

          <p>{% if lid != "999999999" %}<button><b><a href="/{{ bdd }}/csv/{{ lid }}/None/{{ l }}/30/{{ size }}" title="(Avec les autres rattachements)">{% trans "liste csv" %}</a></b></button> ~ {% endif %}<b>{% trans "Nombre de ressources concernées" %} :</b> {{ size }}
          {% if lid != "999999999" %}
          {% if nlib > 2 %}
            ~  <a href="/{{ bdd }}/instrfilter/{{ lid }}">{% trans "Restreindre la liste aux instructions avec une autre bibliothèque" %}</a>
          {% else %}
          {% endif %}
          {% endif %}
          </p>

          {% if lid == "999999999" %}
          <b><font color= #a7a7a7 >1/2</font></b> : {% trans "Contrôle à mi-chemin" %}  ~  <b><font color= #a7a7a7 >2/2</font></b> : {% trans "Contrôle final" %}
          ==> <a href="/{{ bdd }}/xcheck">{% trans "Filtrer la liste" %}</a>
          <p></p>
          {% elif lid != "999999999" %}

          <p>
          <b><font color= #a7a7a7 >1/2</font></b> ou <b><font color= #a7a7a7 >2/2</font></b> : {% trans "Phase d'instruction courante, 1 = reliés, 2 = non reliés" %} (<b><font color= #a7a7a7 >*</font></b> = {% trans "collection mère" %})
            ==>  <b><font color= #a7a7a7 >*1/2</font></b> : <a href="/{{ bdd }}/bd1/{{ lid }}/title">{% trans "liste" %}</a> - <b><font color= #a7a7a7 >*2/2</font></b> : <a href="/{{ bdd }}/notbd1/{{ lid }}/title">{% trans "liste" %}</a> - <b><font color= #a7a7a7 >1/2</font></b> : <a href="/{{ bdd }}/bdnot1/{{ lid }}/title">{% trans "liste" %}</a> - <b><font color= #a7a7a7 >2/2</font></b> : <a href="/{{ bdd }}/notbdnot1/{{ lid }}/title">{% trans "liste" %}</a>
          </p>
          <p></p>
          {% endif %}

          <p>{% trans "Pour chercher une occurrence dans cette liste, veuillez utiliser la fonctionnalité de recherche du navigateur." %}</p>
          <p>{% trans "Pour instruire, cliquez sur le lien [Identifiant de la ressource]" %}.</p>

          {% if lid == "999999999" %}

              {% if sort == 'title' %}
              <p>({% trans "Classement par" %} {% trans "titre" %}, {% trans "reclasser par" %} : <a href="/{{ bdd }}/allinstr/{{ lid }}/sid">{% trans "ppn" %}</a>)</p>
                {% elif sort == 'sid' %}
                <p>({% trans "Classement par" %} {% trans "ppn" %}, {% trans "reclasser par" %} : <a href="/{{ bdd }}/allinstr/{{ lid }}/title">{% trans "titre" %}</a>)</p>
              {% endif %}


          {% elif lid != "999999999" %}

              {% if sort == 'title' %}
              <p>({% trans "Classement par" %} {% trans "titre" %}, {% trans "reclasser par" %} : <a href="/{{ bdd }}/allinstr/{{ lid }}/cn">{% trans "cote et titre" %}</a>
               / <a href="/{{ bdd }}/allinstr/{{ lid }}/sid">{% trans "ppn" %}</a>)</p>
               {% elif sort == 'cn' %}
               <p>({% trans "Classement par" %} {% trans "cote" %}, {% trans "reclasser par" %} : <a href="/{{ bdd }}/allinstr/{{ lid }}/title">{% trans "titre" %}</a> / <a href="/{{ bdd }}/allinstr/{{ lid }}/sid">{% trans "ppn" %}</a>)</p>
                {% elif sort == 'sid' %}
                <p>({% trans "Classement par" %} {% trans "ppn" %}, {% trans "reclasser par" %} : <a href="/{{ bdd }}/allinstr/{{ lid }}/title">{% trans "titre" %}</a> / <a href="/{{ bdd }}/allinstr/{{ lid }}/cn">{% trans "cote et titre" %}</a>)</p>
              {% endif %}

          {% endif %}


        <HR>
      </div>


    <body>

      <div id="content">
      <ul>

            <!-- <HR> -->
          {% if lid == "999999999" %}
              {% for elmt in l %}
                  {% if elmt.status == 2 %}
                  <li><b><font color= #a7a7a7 >1/2</font> {% trans "Titre" %} :</b> {{ elmt.title }}</li>
                  <!-- <li><b>{% trans "Cote" %} :</b> {{ elmt.cn }}</li> -->
                  <li><b>{% trans "Identifiant de la ressource" %} :</b> <a href="/{{ bdd }}/add/{{ elmt.sid }}/{{ lid }}">{{ elmt.sid }}</a></li>
                  {% elif elmt.status == 4 %}
                  <li><b><font color= #a7a7a7 >2/2</font> {% trans "Titre" %} :</b> {{ elmt.title }}</li>
                  <!-- <li><b>{% trans "Cote" %} :</b> {{ elmt.cn }}</li> -->
                  <li><b>{% trans "Identifiant de la ressource" %} :</b> <a href="/{{ bdd }}/add/{{ elmt.sid }}/{{ lid }}">{{ elmt.sid }}</a></li>
                  {% endif %}
                  <HR>
              {% endfor %}

          {% else %}
          <!-- it means : lid !="999999999" -->
            {% for elmt in l %}
                {% if elmt.status == 1 %}
                  {% if elmt.rank == 1 %}
                  <li><b><font color= #a7a7a7 >*1/2</font> {% trans "Titre" %} :</b> {{ elmt.title }}</li>
                  <li><b>{% trans "Cote" %} :</b> {{ elmt.cn }}</li>
                  <li><b>{% trans "Identifiant de la ressource" %} :</b> <a href="/{{ bdd }}/add/{{ elmt.sid }}/{{ elmt.lid }}">{{ elmt.sid }}</a></li>
                  {% elif elmt.rank != 1 %}
                  <li><b><font color= #a7a7a7 >1/2</font> {% trans "Titre" %} :</b> {{ elmt.title }}</li>
                  <li><b>{% trans "Cote" %} :</b> {{ elmt.cn }}</li>
                  <li><b>{% trans "Identifiant de la ressource" %} :</b> <a href="/{{ bdd }}/add/{{ elmt.sid }}/{{ elmt.lid }}">{{ elmt.sid }}</a></li>
                  {% endif %}
                {% elif elmt.status == 3 %}
                  {% if elmt.rank == 1 %}
                  <li><b><font color= #a7a7a7 >*2/2</font> {% trans "Titre" %} :</b> {{ elmt.title }}</li>
                  <li><b>{% trans "Cote" %} :</b> {{ elmt.cn }}</li>
                  <li><b>{% trans "Identifiant de la ressource" %} :</b> <a href="/{{ bdd }}/add/{{ elmt.sid }}/{{ elmt.lid }}">{{ elmt.sid }}</a></li>
                  {% elif elmt.rank != 1 %}
                  <li><b><font color= #a7a7a7 >2/2</font> {% trans "Titre" %} :</b> {{ elmt.title }}</li>
                  <li><b>{% trans "Cote" %} :</b> {{ elmt.cn }}</li>
                  <li><b>{% trans "Identifiant de la ressource" %} :</b> <a href="/{{ bdd }}/add/{{ elmt.sid }}/{{ elmt.lid }}">{{ elmt.sid }}</a></li>
                  {% endif %}
                {% endif %}
                <HR>
              {% endfor %}

            {% endif %}

      </ul>

        </div>

        <div id="credits">
            <p>Conservation et valorisation des collections · Service des bibliothèques de l'Université de Strasbourg · <a target="_blank" href="default/about">{% trans "A propos" %}</a> . <a target="_blank" href="https://groupes.renater.fr/sympa/info/eplouribousse-newsletter">{% trans "Me tenir au courant" %}</a> · <a target="_blank" href="https://groupes.renater.fr/sympa/info/eplouribousse">{% trans "Forum des utilisateurs" %}</a> · <a target="_blank" href="https://bugs.launchpad.net/eplouribousse">{% trans "Suivi des bugs" %}</a>{% if webmaster != "" %} · <a target="_blank" href="/{{ bdd }}/webmaster">{% trans "Administrateur du site" %}</a>{% endif %}</p>

<p>eplouribousse utilise des données sous <a target="_blank" href="http://www.abes.fr/Media/Fichiers/Footer/Presentation-de-l-ABES/licence-Etalab-francais">licence etalab</a> fournies par l'<a target="_blank" href="https://abes.fr/l-abes/presentation/">Abes</a>.</p><p>Version : {{ version }}</p>

        </div>
    </body>

</html>
