<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="../../../../static/css/style.css">

    </head>


    <body>

      <h2>Tentative d'intervention hors délai pour la bibliothèque {{ library }} : </h2>
        <div id="content">

      <p></p>
      <p><b>Ressource concernée :</b> {{ title }} (<b>identifiant :</b> {{ sid }})</p>
      <p></p>
      <p>Vous avez été redirigé ici pour l'une des raisons suivantes : </p>
      <ul>

          <li>- Le positionnement n'est plus possible (les instructions ont déjà commencé ou la ressource n'est plus candidate)</li>
          <li>- Ce n'est pas à votre tour d'instruire la fiche.</li>
          <li>- La fiche n'est pas encore éditable.</li>
          <li>- La fiche est déjà complètement instruite et ne peut plus être modifiée.</li>


      </ul>
      <p>(Dans ce dernier cas, la ressource doit apparaître dans votre liste des <a href="edlist/{{ lid }}">ressources éditables</a>)</p>

        </div>
        <div id="menugeneral">
      <p><b>Menu : </b><a href="arb/{{ lid }}">Arbitrages</a> - <a href="allinstr/{{ lid }}">Instructions</a> - <a href="edlist/{{ lid }}">Edition des résultantes</a></p>
        </div>

        <div id="footer">
            <p><a href="/">Accueil</a> - <a target="_blank" href="https://seafile.unistra.fr/f/a998b238a22b4c13baf5/">Manuel de l'utilisateur</a></p>
        </div>

        <div id="credits">
            <p>Conservation et valorisation des collections · Service des bibliothèques de l'Université de Strasbourg</p>
			<p><a target="_blank" href="https://seafile.unistra.fr/f/a264af5a98154545b5d3/">A propos</a></p>
        </div>

    </body>

</html>
