{% load i18n %}
<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


    </head>


    <body>
      {% if k != 0 %}
      <b><font color= #017a04 >@ </font></b>{{ k }} (<a href="/./disconnect">{% trans "Déconnexion" %}</a>)
      {% else %}
      <!-- <b><font color= #ff0004 >(User : Anonymous)</font></b> -->
      <!-- (User : Anonymous) -->
      {% endif %}
      <p></p>
      <h2>{{ library }} - {% trans "Tentative d'intervention hors délai" %}</h2>
        <div id="content">

      <p></p>
      <p><b>{% trans "Ressource concernée" %} :</b> {{ title }} (<b>identifiant :</b> {{ sid }})</p>
      <p></p>
      <p>{% trans "Vous avez été redirigé ici pour l'une des raisons suivantes" %} : </p>
      <ul>

          <li>- {% trans "Le positionnement n'est plus possible" %}.</li>
          <li>- {% trans "Les instructions ont déjà commencé ou la ressource n'est plus candidate" %}.</li>
          <li>- {% trans "Ce n'est pas à votre tour d'instruire la fiche" %}.</li>
          <li>- {% trans "La fiche n'est pas encore éditable" %}.</li>
          <li>- {% trans "La fiche est déjà complètement instruite et ne peut plus être modifiée" %}.</li>


      </ul>
      <p>({% trans "Dans ce dernier cas, voir : " %} <a href="/edlist/{{ lid }}/title">{% trans "ressources éditables" %}</a>)</p>

        </div>
        <div id="menugeneral">
      <p><b>{% trans "Menu" %} : </b><a href="/arb/{{ lid }}/title">{% trans "Arbitrages" %}</a> - <a href="/allinstr/{{ lid }}/title">{% trans "Instruction" %}</a> - <a href="/edlist/{{ lid }}/title">{% trans "Edition" %}</a></p>
        </div>

        <div id="footer">
            <p><a href="/">{% trans "Accueil" %}</a> - <a target="_blank" href="{% static 'doc/User_Documentation.pdf' %}">{% trans "Manuel de l'utilisateur" %}</a></p>
        </div>

        <div id="credits">
            <p>Conservation et valorisation des collections · Service des bibliothèques de l'Université de Strasbourg · {{ version }} · <a target="_blank" href="/about">{% trans "A propos" %}</a></p>

<p>eplouribousse utilise des données sous <a target="_blank" href="http://www.abes.fr/Media/Fichiers/Footer/Presentation-de-l-ABES/licence-Etalab-francais">licence etalab</a> fournies par l'Agence bibliographique de l’Enseignement supérieur.</p>

        </div>

    </body>

</html>
