{% load i18n %}
<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


    </head>


    <body>
      {% if k != 0 %}
      <b><font color= #017a04 >@ </font></b>{{ k }} (<a href="/./disconnect">{% trans "Déconnexion" %}</a>)
      {% else %}
      <!-- <b><font color= #ff0004 >(User : Anonymous)</font></b> -->
      <!-- (User : Anonymous) -->
      {% endif %}
      <p></p>
      <h2>{{ lib.name }} - {% trans "Positionnement" %}</h2>
        <div id="content">

      <p><b>{% trans "Titre" %} :</b> {{ ress.title|truncatewords:80 }}</p>
      <p><b>{% trans "Identifiant de la ressource" %} :</b> <a href="http://www.sudoc.fr/{{ ress.sid }}" target="_blank">{{ ress.sid }}</a>
       / <b>issn :</b> {{ ress.issn }} / <b>{% trans "Historique de la publication" %} :</b> {{ ress.pubhist }} / <a href="{{ periscope }}" target="_blank">Périscope</a></p>
      <p></p>

      <p><i>{% trans "Votre rattachement apparaît en rouge" %} :</i></p>
      <p>({% trans "Cliquez sur le lien [identifiant] pour savoir à quelle bibliothèque celui-ci correspond" %})</p>

      <ul>

      {% for elmt in itemlist %}
          {% if elmt.lid == lib.lid %}
                <HR>
          <p></p>
              <li><font color= #e74c3c ><b>{% trans "Identifiant de la bibliothèque" %} :</b></font> <a href="http://www.sudoc.abes.fr//DB=2.2/SET=1/TTL=1/CMD?ACT=SRCHA&IKT=8888&SRT=RLV&TRM={{ elmt.lid }}" target="_blank">{{ elmt.lid }}</a> | {% trans "Cote" %} : {{ elmt.cn }}</li>
              <li><font color= #e74c3c ><b>{% trans "Etat de collection" %} :</b></font> {{ elmt.holdstat }}</li>
              <li><font color= #e74c3c ><b>{% trans "Lacunes" %} :</b></font> {{ elmt.missing }}</li>
              <li><font color= #e74c3c ><b>{% trans "Rang courant" %} :</b></font> <font color= #3498db  >{{ elmt.rank }}</font></li>
              <li><font color= #e74c3c ><b>{% trans "Exclusion" %} :</b></font> <font color= #3498db  >{{ elmt.excl}}</font> | <b>{% trans "Commentaire" %} :</b> <font color= #3498db  >{{ elmt.comm }}</font></li>
          {% else %}
                <HR>
          <p></p>
              <li><b>{% trans "Identifiant de la bibliothèque" %} :</b> <a href="http://www.sudoc.abes.fr//DB=2.2/SET=1/TTL=1/CMD?ACT=SRCHA&IKT=8888&SRT=RLV&TRM={{ elmt.lid }}" target="_blank">{{ elmt.lid }}</a> | {% trans "Cote" %} : {{ elmt.cn }}</li>
              <li><b>{% trans "Etat de collection" %} :</b> {{ elmt.holdstat }}</li>
              <li><b>{% trans "Lacunes" %} :</b> {{ elmt.missing }}</li>
              <li><b>{% trans "Rang courant" %} :</b> <font color= #3498db  >{{ elmt.rank }}</font></li>
              <li><b>{% trans "Exclusion" %} :</b> <font color= #3498db  >{{ elmt.excl}}</font> | <b>{% trans "Commentaire" %} :</b> <font color= #3498db  >{{ elmt.comm }}</font></li>
          {% endif %}
      {% endfor %}


      </ul>
      <HR>

      <form method="post">
      <p>{% trans "Le cas échéant, motif d'exclusion" %} : {{ f.excl }}</p>
      <p>{% trans "Sinon, rang de votre collection" %} : {{ f.rank }}</p>
      <p>{% trans "Choisissez 1 pour la collection mère ; 2, 3 ou 4 selon l'importance de votre collection ou d'autres raisons ..." %}</p>
      <p>{% trans "Commentaire (max. 250 caractères.)" %} : </p>
      <p>{{ f.comm }}</p>
      {% csrf_token %}
      <input type="Submit" value="{% trans "Valider" %}">
      </form>



        </div>

        <div id="menucontextuel">

        <p><a href="/router">{% trans "Retour à la liste" %}</a></p>
        </div>

        <div id="menugeneral">

        <p><b>{% trans "Menu général" %} : </b><a href="/allinstr/{{ lid }}">{% trans "Instruction" %}</a> - <a href="/edlist/{{ lid }}">{% trans "Edition" %}</a></p>
        </div>


        <div id="footer">
            <p><a href="/">{% trans "Accueil" %}</a> - <a target="_blank" href="{% static 'doc/User_Documentation.pdf' %}">{% trans "Manuel de l'utilisateur" %}</a></p>
        </div>

        <div id="credits">
            <p>Conservation et valorisation des collections · Service des bibliothèques de l'Université de Strasbourg · {{ version }} · <a target="_blank" href="/about">{% trans "A propos" %}</a></p>

<p>eplouribousse utilise des données sous <a target="_blank" href="http://www.abes.fr/Media/Fichiers/Footer/Presentation-de-l-ABES/licence-Etalab-francais">licence etalab</a> fournies par l'Agence bibliographique de l’Enseignement supérieur.</p>

        </div>

      <body>

</html>
