{% load i18n %}
<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="../../../../static/css/style.css">

    </head>


    <body>

      <h2>{{ library.name }} - {% trans "Positionnement" %}</h2>
        <div id="content">

      <p><b>{% trans "Titre" %} :</b> {{ ressource.title|truncatewords:80 }}</p>
      <p><b>{% trans "Identifiant de la ressource" %} :</b> <a href="http://www.sudoc.fr/{{ ressource.sid }}" target="_blank">{{ ressource.sid }}</a>
       / <b>issn :</b> {{ ressource.issn }} / <b>{% trans "Historique de la publication" %} :</b> {{ ressource.pubhist }}</p>
      <p></p>
      {% if flag == 0 %}

      <p><i>{% trans "Votre rattachement apparaît en rouge" %} :</i></p>
      <p>({% trans "Cliquez sur le lien [identifiant] pour savoir à quelle bibliothèque celui-ci correspond)" %})</p>

      <ul>

      {% for elmt in items %}
          {% if elmt.lid == library.lid %}
                <HR>
          <p></p>
             <font color= #e74c3c >
              <li><b>{% trans "Identifiant de la bibliothèque" %} :</b> <a href="http://www.sudoc.abes.fr//DB=2.2/SET=1/TTL=1/CMD?ACT=SRCHA&IKT=8888&SRT=RLV&TRM={{ elmt.lid }}" target="_blank">{{ elmt.lid }}</a> | {% trans "Cote" %} : {{ elmt.cn }}</li>
              <li><b>{% trans "Etat de collection" %} :</b> {{ elmt.holdstat }}</li>
              <li><b>{% trans "Lacunes" %} :</b> {{ elmt.missing }}</li>
              <li><b>{% trans "Rang courant" %} :</b> <font color= #3498db  >{{ elmt.rank }}</font></li>
              <li><b>{% trans "Exclusion" %} :</b> <font color= #3498db  >{{ elmt.excl}}</font> | <b>{% trans "Commentaire" %} :</b> <font color= #3498db  >{{ elmt.comm }}</font></li>
             </font>
          {% else %}
                <HR>
          <p></p>
              <li><b>{% trans "Identifiant de la bibliothèque" %} :</b> <a href="http://www.sudoc.abes.fr//DB=2.2/SET=1/TTL=1/CMD?ACT=SRCHA&IKT=8888&SRT=RLV&TRM={{ elmt.lid }}" target="_blank">{{ elmt.lid }}</a> | {% trans "Cote" %} : {{ elmt.cn }}</li>
              <li><b>{% trans "Etat de collection" %} :</b> {{ elmt.holdstat }}</li>
              <li><b>{% trans "Lacunes" %} :</b> {{ elmt.missing }}</li>
              <li><b>{% trans "Rang courant" %} :</b> <font color= #3498db  >{{ elmt.rank }}</font></li>
              <li><b>{% trans "Exclusion" %} :</b> <font color= #3498db  >{{ elmt.excl}}</font> | <b>{% trans "Commentaire" %} :</b> <font color= #3498db  >{{ elmt.comm }}</font></li>
          {% endif %}
      {% endfor %}


      </ul>
      <HR>

      <form method="post">
      <p>{% trans "Le cas échéant, motif d'exclusion" %} : {{ form.excl }}</p>
      <p>{% trans "Sinon, rang de votre collection" %} : {{ form.rank }}</p>
      <p>{% trans "Choisissez 1 pour la collection mère ; 2, 3 ou 4 selon l'importance de votre collection ou d'autres raisons ..." %}</p>
      <p>{% trans "Commentaire (max. 250 caractères.)" %} : </p>
      <p>{{ form.comm }}</p>
      {% csrf_token %}
      <input type="Submit" value="{% trans "Valider" %}">
      </form>
      {% elif flag == 1 %}
      <p><B><font color= #e74c3c >{% trans "Il n'est plus possible de modifier votre positionnement" %}.</font></B></p>
      {% endif %}

        </div>
      <HR>

        <div id="menucontextuel">

        <p><b>{% trans "Menu contextuel" %} : </b><a href="/rklist/{{ library.lid }}">{% trans "Positionnement" %}</a> - <a href="/arb/{{ library.lid }}">{% trans "Arbitrages" %}</a></p>
        </div>

        <div id="menugeneral">

        <p><b>{% trans "Menu général" %} : </b><a href="/allinstr/{{ lid }}">{% trans "Instruction" %}</a> - <a href="/edlist/{{ lid }}">{% trans "Edition" %}</a></p>
        </div>


        <div id="footer">
            <p><a href="/">{% trans "Accueil" %}</a> - <a target="_blank" href="https://seafile.unistra.fr/f/a998b238a22b4c13baf5/">{% trans "Manuel de l'utilisateur" %}</a></p>
        </div>

        <div id="credits">
            <p>Conservation et valorisation des collections · Service des bibliothèques de l'Université de Strasbourg</p>
			<p><a target="_blank" href="https://seafile.unistra.fr/f/a264af5a98154545b5d3/">{% trans "A propos" %}</a></p>
        </div>

      <body>

</html>
