{% load i18n %}
<!DOCTYPE html>

<html>

    <head>


      <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">



    </head>

    <div id="sticky-section">
      <nav id="sticky-menu">
          <a href="/">{% trans "Accueil" %}</a>
          <a href="/dashboard">{% trans "Supervision" %}</a>
          <!-- <a href="/search">{% trans "Recherche (bêta)" %}</a> -->
          <a target="_blank" href="{% static 'doc/User_Documentation.pdf' %}">{% trans "Manuel de l'utilisateur" %}</a>
          <a target="_blank" href="/about">{% trans "A propos" %}</a>
      </nav>
          {% if k != 0 %}
          <p style="text-align:right;"><b><font color= #017a04 >@ </font></b>{{ k }} (<a href="/./disconnect">{% trans "Déconnexion" %}</a>)</p>
          {% else %}
          <!-- <b><font color= #ff0004 >(User : Anonymous)</font></b> -->
          <!-- (User : Anonymous) -->
          {% endif %}

          <h2>{{ lib }} - {{ sid }} : {% trans "Statut courant" %}</h2>

            <form method="post">{% csrf_token %}
                <p>{% trans "ppn" %} : {{ form.sid }} {% trans "Votre bibliothèque" %} :  {{ form.lib }}
                   <input type="submit" value="{% trans "Valider" %}">
                    <button><b><a href="/search">{% trans "Réinitialiser" %}</a></b></button></p>
            </form>
            <HR>

      </div>

    <body>

	    <div id="content">

        {% if n == 0 %}
        <p>{% trans "Ce ppn est absent du projet" %} : <a target="_blank" href="http://www.sudoc.fr/{{ sid }}">{% trans "Vérifier dans le Sudoc" %}</a></p>
        <p>{% trans "(Si cette vérification n'aboutit pas, vérifiez la saisie du ppn)" %}</p>

        {% endif %}

        {% if n == 1 %}
        <!-- <h5>{% trans "Données bibliographiques" %} :</h5> -->
        <p>{{ title }}</p>
        <p>{% trans "ppn" %} : {{ sid }} | {% trans "issn" %} : {{ issn }} | {% trans "Période de publication" %} : {{ pubhist }}</p>
          {% if bil == lib %}
          <p>{% trans "Pas d'autre collection que la vôtre" %}</p>
          {% else %}
          <p>{% trans "Une seule bibliothèque rattachée" %} : {{ bil }}</p>
          {% endif %}
        {% endif %}

        {% if n > 1 %}
        <!-- <h5>{% trans "Données bibliographiques" %} :</h5> -->
        <p>{{ title }}</p>
        <p>{% trans "ppn" %} : {{ sid }} | {% trans "issn" %} : {{ issn }} | {% trans "Période de publication" %} : {{ pubhist }}</p>
          {% if l == 1 %}
          <!-- <h5>{% trans "Données de rattachement" %} :</h5> -->
          <p>{% trans "Cote" %} : {{ cn }}</p>
          <p>{% trans "état de collection" %} : {{ holdstat }}</p>
            {% if missing != '' %}
            <p>{% trans "lacunes" %} : {{ missing }}</p>
            {% endif %}
          {% endif %}


	        <!-- <div id="content"> -->

<table border="1">

   <tbody>

          {% if progress != 0 %}
    <tr>
          <td>{% trans "Avancement" %}</td>
          <td>{{ progress }} {{ xname }}</td>
    </tr>
          {% endif %}

    <tr>
          <td>{% trans "Nombre de rattachements" %}</td>
          <td>{{ n }}</td>
    </tr>

        {% if l == 0 and lid != "999999999" %}
    <tr>
          <td>{% trans "Statut" %}</td>
          <td><font color= #e74c3c ><b>{% trans "Votre bibliothèque n'est pas rattachée" %}</b></font></td>
    </tr>
        {% endif %}

        {% for e in ranklist %}
        <tr>
            {% if e.1 == lib %}
                {% if e.0.rank == 0 %}
                  <td><font color= #e74c3c ><b>{% trans "Positionnement pour" %} : {{ e.1 }}</b></font></td>
                  <td><font color= #e74c3c ><b>{{ e.0.excl }}{% if e.0.comm != "" %} : {{ e.0.comm }}{% endif %}</b></font></td>
                {% else %}
                  <td><font color= #e74c3c ><b>{% trans "Positionnement pour" %} : {{ e.1 }}</b></font></td>
                  {% if e.0.rank == 99 %}
                  <td><font color= #e74c3c ><b>{% trans "Pas encore pris" %}</b></font></td>
                  {% else %}
                  <td><font color= #e74c3c ><b>{{ e.0.rank }}{% if e.0.comm != "" %} : {{ e.0.comm }}{% endif %}</b></font></td>
                  {% endif %}
                {% endif %}
            {% elif e.1 != lib %}
                {% if e.0.rank == 0 %}
                  <td>{% trans "Positionnement pour" %} : {{ e.1 }}</td>
                  <td>{{ e.0.excl }}{% if e.0.comm != "" %} : {{ e.0.comm }}{% endif %}</td>
                {% else %}
                  <td>{% trans "Positionnement pour" %} : {{ e.1 }}</td>
                  {% if e.0.rank == 99 %}
                  <td>{% trans "Pas encore pris" %}</td>
                  {% else %}
                  <td>{{ e.0.rank }}{% if e.0.comm != "" %} : {{ e.0.comm }}{% endif %}</td>
                  {% endif %}
                {% endif %}
            {% endif %}
        </tr>
        {% endfor %}

        {% if action != 0 %}
    <tr>
          <td>{% trans "Action attendue" %}</td>
          <td><a href="{{ laction }}" target="_blank">{{ action }}</a></td>
    </tr>
        {% endif %}

        {% if alteraction != 0 %}
    <tr>
          <td>{% trans "Action encore possible" %}</td>
          <td><a href="{{ lalteraction }}" target="_blank">{{ alteraction }}</a></td>
    </tr>
        {% endif %}
   </tbody>

</table>

    {% endif %}

<!-- ######################### -->
{% if n > 1 %}
<table border="1">

   <thead>

       <th>{% trans "Bibliothèque" %}</th>
       <th>{% trans "Statut" %}</th>
       <th>{% trans "Administration" %}</th>

   </thead>

   <tbody>

     {% for elmt in attlist %}
    <tr>
        <td>{{ elmt.0 }}</td>
        <td>{{ elmt.1.status }}</td>
        <td><a target="_blank" href="/admin/epl/itemrecord/{{ elmt.1.id }}/change/">{{ elmt.1.id }}</a></td>
    </tr>
     {% endfor %}
   </tbody>

</table>
<center><button onclick="javascript:location.reload();">{% trans "Actualiser" %}</button></center>
<table border="1">

   <thead>

       <th>{% trans "Ligne" %}</th>
       <th>{% trans "Bibliothèque" %}</th>
       <th>{% trans "Forme reliée" %}</th>
       <th>{% trans "Bibliothèque remédiée" %}</th>
       <th>{% trans "Segment" %}</th>
       <th>{% trans "Exceptions" %}</th>
       <th>{% trans "Eléments améliorables" %}</th>
       <th>{% trans "Administration" %}</th>

   </thead>

   <tbody>

     {% for elmt in instrlist %}
        {% if elmt.pk == pklastone %}
    <tr>
         <td><center><font color= #3364ff  >{{ elmt.line }}</font></center></td>
         <td><font color= #3364ff >{{ elmt.name }}</font></td>
         <td><center><font color= #3364ff >{{ elmt.bound }}</font></center></td>
         <td><font color= #3364ff >{{ elmt.oname }}</font></td>
         <td><font color= #3364ff >{{ elmt.descr }}</font></td>
         <td><font color= #3364ff >{{ elmt.exc}}</font></td>
         <td><font color= #3364ff >{{ elmt.degr }}</font></td>
         <td><a target="_blank" href="/admin/epl/instruction/{{ elmt.id }}/change/">{{ elmt.id }}</a></td>
    </tr>
        {% else %}
    <tr>
        <td><center>{{ elmt.line }}</center></td>
        <td>{{ elmt.name }}</td>
        <td><center>{{ elmt.bound }}</center></td>
        <td>{{ elmt.oname }}</td>
        <td>{{ elmt.descr }}</td>
        <td>{{ elmt.exc}}</td>
        <td>{{ elmt.degr }}</td>
        <td><a target="_blank" href="/admin/epl/instruction/{{ elmt.id }}/change/">{{ elmt.id }}</a></td>
    </tr>
        {% endif %}
     {% endfor %}
   </tbody>


</table>

<p>{% trans "La dernière ligne validée est mise en évidence" %}</p>
{% endif %}
        </div>
<!-- ######################### -->


        <div id="credits">
            <p>Conservation et valorisation des collections · Service des bibliothèques de l'Université de Strasbourg · <a target="_blank" href="/about">{% trans "A propos" %}</a> . <a target="_blank" href="/mailinglist">{% trans "Me tenir au courant" %}</a> · <a target="_blank" href="https://groupes.renater.fr/sympa/info/eplouribousse">{% trans "Forum des utilisateurs" %}</a> · <a target="_blank" href="https://bugs.launchpad.net/eplouribousse">{% trans "Suivi des bugs" %}</a>{% if webmaster != "" %} · <a target="_blank" href="/webmaster">{% trans "Administrateur du site" %}</a>{% endif %}</p>
            <p>eplouribousse utilise des données sous <a target="_blank" href="http://www.abes.fr/Media/Fichiers/Footer/Presentation-de-l-ABES/licence-Etalab-francais">licence etalab</a> fournies par l'Agence bibliographique de l’Enseignement supérieur.</p>
            <p>Version : {{ version }}</p>

        </div>

    </body>

</html>
