<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

        <link rel="stylesheet" href="style.css" />


    </head>


    <body>


      <h2>Ressources en attente du positionnement de votre bibliothèque ({{ name }}) : </h2>
      <p>Nombre de ressources concernées : {{ size }}</p>
      <p></p>
      <p>Pour chercher une occurence dans cette liste, veuillez utiliser la fonctionnalité de recherche du navigateur.</p>

      <HR>
    <p>Pour vous positionner, cliquez sur le lien "Identifiant de la ressource".</p>

      <ul>

       {% for elmt in toranklist %}

             <HR>
       <p></p>
          <li>Titre : {{ elmt.title }}</li>
          <li>Cote : {{ elmt.cn }}</li>
          <li>Identifiant de la ressource : <a href="/./epl/ranking/{{ elmt.sid }}/{{ lid }}">{{ elmt.sid }}</a></li>


       {% endfor %}

      </ul>
      <HR>
      <p>Menu : <a href="/./epl/arbitration/{{ lid }}">Arbitrages</a> - <a href="/./epl/instrtodo/{{ lid }}">Instructions</a> - <a href="/./epl/to_edit_list/{{ lid }}">Edition des résultantes</a></p>

      <HR>
        <p> - <a href="/./epl/home">Accueil</a> - <a target="_blank" href="https://seafile.unistra.fr/f/a998b238a22b4c13baf5/">Manuel de l'utilisateur</a> - </p>
    </body>

</html>
