{% load i18n %}
<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">    <link rel="shortcut icon" type="image/x-icon" href="{% static './favicon.ico' %}">


    </head>
    <div id="sticky-section">
      <nav id="sticky-menu">
          <a href="/{{ bdd }}">{% trans "Accueil" %}</a>
          <a href="/{{ bdd }}/dashboard">{% trans "Supervision" %}</a>
          <a href="/{{ bdd }}/search">{% trans "Recherche (bêta)" %}</a>
          <a target="_blank" href="{% static 'doc/User_Documentation.pdf' %}">{% trans "Manuel de l'utilisateur" %}</a>
          <a target="_blank" href="/./{{ bdd }}/projectmaster">{% trans "Contact du projet" %}</a>
          <a target="_blank" href="/./default/about">{% trans "A propos" %}</a>
      </nav>
          {% if k != 0 %}
          <p style="text-align:right;"><b><font color= #017a04 >@ </font></b>{{ k }} (<a href="/./default/disconnect">{% trans "Déconnexion" %}</a>)</p>
          {% else %}
          <!-- <b><font color= #ff0004 >(User : Anonymous)</font></b> -->
          <!-- (User : Anonymous) -->
          {% endif %}


          <h2>{{ libname }} (& {{ xlibname }}) - {% trans "Arbitrages de rang 1" %}</h2>


          <p><button><b><a href="/{{ bdd }}/csv/{{ lid }}/{{ xlid }}/{{ resslist }}/22/{{ size }}" title="(Avec les autres rattachements)">{% trans "liste csv" %}</a></b></button> ~ <b>{% trans "Nombre de ressources concernées" %} :</b> {{ size }} ~ {% trans "Pour modifier votre positionnement, cliquez sur le lien [Identifiant de la ressource]" %}</p>

          <p>{% trans "Pour chercher une occurrence dans cette liste, veuillez utiliser la fonctionnalité de recherche du navigateur." %}</p>

                  {% if sort == 'title' %}
                  <p>({% trans "Classement par" %} {% trans "titre" %}, {% trans "reclasser par" %} : <a href="/{{ bdd }}/arb1list/{{ lid }}/{{ xlid }}/cn">{% trans "cote et titre" %}</a>
                   / <a href="/{{ bdd }}/arb1list/{{ lid }}/{{ xlid }}/sid">{% trans "ppn" %}</a>)</p>
                   {% elif sort == 'cn' %}
                   <p>({% trans "Classement par" %} {% trans "cote" %}, {% trans "reclasser par" %} : <a href="/{{ bdd }}/arb1list/{{ lid }}/{{ xlid }}/title">{% trans "titre" %}</a> / <a href="/{{ bdd }}/arb1list/{{ lid }}/{{ xlid }}/sid">{% trans "ppn" %}</a>)</p>
                    {% elif sort == 'sid' %}
                    <p>({% trans "Classement par" %} {% trans "ppn" %}, {% trans "reclasser par" %} : <a href="/{{ bdd }}/arb1list/{{ lid }}/{{ xlid }}/title">{% trans "titre" %}</a> / <a href="/{{ bdd }}/arb1list/{{ lid }}/{{ xlid }}/cn">{% trans "cote et titre" %}</a>)</p>
                  {% endif %}

              {% if lastrked != None %}
                {% if lastrked.lid == lid %}
              <div id="highlight">
              <p><b>{% trans "Dernier positionnement enregistré" %}</b> : {{ lastrked.sid }} | {{ lastrked.title }} |{% if lastrked.rank != 0 %} {% trans "rang" %} : {{ lastrked.rank }}
                 {% else %} {% trans "Exclusion" %} : {{ lastrked.excl }} {% endif %} (<a href="/{{ bdd }}/rk/{{ lastrked.sid }}/{{ lastrked.lid }}">{% trans "Modifier" %}</a>)</p>
              </div>
                {% endif %}
              {% endif %}
        <HR>
      </div>

    <body>

      <div id="content">
            <ul>

              {% for elmt in resslist %}

                            <!-- <HR> -->
                <p></p>
                <li><b>{% trans "Titre" %} :</b> {{ elmt.title|truncatewords:80 }}</li>
                <li><b>{% trans "Cote" %} :</b> {{ elmt.cn }}</li>
                <li><b>{% trans "Identifiant de la ressource" %} :</b> <a href="/{{ bdd }}/rk/{{ elmt.sid }}/{{ lid }}">{{ elmt.sid }}</a></li>
                <HR>

              {% endfor %}
            </ul>
        </div>


        <div id="credits">
            <p>Conservation et valorisation des collections · Service des bibliothèques de l'Université de Strasbourg · <a target="_blank" href="/./default/about">{% trans "A propos" %}</a> . <a target="_blank" href="https://groupes.renater.fr/sympa/info/eplouribousse-newsletter">{% trans "Me tenir au courant" %}</a> · <a target="_blank" href="https://groupes.renater.fr/sympa/info/eplouribousse">{% trans "Forum des utilisateurs" %}</a> · <a target="_blank" href="https://bugs.launchpad.net/eplouribousse">{% trans "Suivi des bugs" %}</a>{% if webmaster != "" %} · <a target="_blank" href="/default/webmaster">{% trans "Administrateur du site" %}</a>{% endif %}</p>

<p>eplouribousse utilise des données sous <a target="_blank" href="http://www.abes.fr/Media/Fichiers/Footer/Presentation-de-l-ABES/licence-Etalab-francais">licence etalab</a> fournies par l'<a target="_blank" href="https://abes.fr/l-abes/presentation/">Abes</a>.</p><p>Version : {{ version }}</p>

        </div>
    </body>

</html>
