{% load i18n %}
<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


    </head>


    <body>
      {% if k != 0 %}
      <b><font color= #017a04 >@ </font></b>{{ k }} (<a href="/./disconnect">{% trans "Déconnexion" %}</a>)
      {% else %}
      <!-- <b><font color= #ff0004 >(User : Anonymous)</font></b> -->
      <!-- (User : Anonymous) -->
      {% endif %}
      <p></p>

      <h2>{{ libname }} - {% trans "Arbitrages" %}</h2>
      <h2>({% trans "Autre collection impliquée dans l'arbitrage" %} : {{ xlibname }})</h2>
      <div id="content">

      <p>{% trans "Nombre de ressources concernées" %} : {{ size }}</p>

      <p><b><font color= #a7a7a7 >1</font></b> : <a href="/arb1list/{{ lid }}/{{ xlid }}">{% trans "Concurrence sur le rang 1" %}</a></p>
      <p><b><font color= #a7a7a7 >ø</font></b> : <a href="/arb0list/{{ lid }}/{{ xlid }}">{% trans "Rang 1 non revendiqué" %}</a></p>

      <p>{% trans "Pour chercher une occurrence dans cette liste, veuillez utiliser la fonctionnalité de recherche du navigateur." %}</p>

          <p>{% trans "Pour modifier votre positionnement, cliquez sur le lien [Identifiant de la ressource]" %}</p>

            <ul>

              {% for elmt in resslist %}
                  {% if elmt.rank == 1 %}
                            <HR>
                <p></p>
                <li><b><font color= #a7a7a7 >1 </font>{% trans "Titre" %} :</b> {{ elmt.title|truncatewords:80 }}</li>
                <li><b>{% trans "Cote" %} :</b> {{ elmt.cn }}</li>
                <li><b>{% trans "Identifiant de la ressource" %} :</b> <a href="/rk/{{ elmt.sid }}/{{ lid }}">{{ elmt.sid }}</a></li>
                  {% elif elmt.rank != 1 %}
                            <HR>
                <p></p>
                <li><b><font color= #a7a7a7 >ø </font>{% trans "Titre" %} :</b> {{ elmt.title|truncatewords:80 }}</li>
                <li><b>{% trans "Cote" %} :</b> {{ elmt.cn }}</li>
                <li><b>{% trans "Identifiant de la ressource" %} :</b> <a href="/rk/{{ elmt.sid }}/{{ lid }}">{{ elmt.sid }}</a></li>
                  {% endif %}
              {% endfor %}
                            <HR>
            </ul>
        </div>

        <div id="menugeneral">

            <p><b>{% trans "Menu" %} : </b><a href="/rklist/{{ lid }}">{% trans "Positionnement" %}</a> - <a href="/allinstr/{{ lid }}">{% trans "Instructions" %}</a> - <a href="/edlist/{{ lid }}">{% trans "Edition" %}</a></p>

        </div>

        <div id="footer">
            <p><a href="/">{% trans "Accueil" %}</a> - <a target="_blank" href="{% static 'doc/User_Documentation.pdf' %}">{% trans "Manuel de l'utilisateur" %}</a></p>
        </div>

        <div id="credits">
            <p>Conservation et valorisation des collections · Service des bibliothèques de l'Université de Strasbourg · {{ version }} · <a target="_blank" href="/about">{% trans "A propos" %}</a></p>

<p>eplouribousse utilise des données sous <a target="_blank" href="http://www.abes.fr/Media/Fichiers/Footer/Presentation-de-l-ABES/licence-Etalab-francais">licence etalab</a> fournies par l'Agence bibliographique de l’Enseignement supérieur.</p>

        </div>
    </body>

</html>
