{% load i18n %}
<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


    </head>

    <div id="sticky-section">
      <nav id="sticky-menu">
          <a href="/">{% trans "Accueil" %}</a>
          <a href="/dashboard">{% trans "Supervision" %}</a>
          <a href="/search">{% trans "Recherche (bêta)" %}</a>
          <a target="_blank" href="{% static 'doc/User_Documentation.pdf' %}">{% trans "Manuel de l'utilisateur" %}</a>
          <a target="_blank" href="/about">{% trans "A propos" %}</a>
      </nav>
          {% if k != 0 %}
          <p style="text-align:right;"><b><font color= #017a04 >@ </font></b>{{ k }} (<a href="/./disconnect">{% trans "Déconnexion" %}</a>)</p>
          {% else %}
          <!-- <b><font color= #ff0004 >(User : Anonymous)</font></b> -->
          <!-- (User : Anonymous) -->
          {% endif %}
          <h2>{% trans "Contrôle à mi-chemin ou final" %}</h2>
          <h2>{{ coll_set }} (ou)</h2>



          <p><b>{% trans "Nombre de ressources concernées" %} :</b> {{ size }}</p>

          <p></p>

          <p>{% trans "Pour chercher une occurrence dans cette liste, veuillez utiliser la fonctionnalité de recherche du navigateur." %}</p>

        <HR>
      </div>

    <body>

        <div id="content">
      <ul>

      {% for elmt in l %}

            <!-- <HR> -->
      <p></p>

            <li><b>{% trans "Titre" %} :</b> {{ elmt.title }}</li>
            <!-- <li><b>{% trans "Cote" %} :</b> {{ elmt.cn }}</li> -->
            <li><b>{% trans "Identifiant de la ressource" %} :</b> <a href="/add/{{ elmt.sid }}/999999999">{{ elmt.sid }}</a></li>
           <HR>
      {% endfor %}


      </ul>

        </div>


        <div id="credits">
            <p>Conservation et valorisation des collections · Service des bibliothèques de l'Université de Strasbourg · <a target="_blank" href="/about">{% trans "A propos" %}</a> . <a target="_blank" href="/mailinglist">{% trans "Me tenir au courant" %}</a>{% if webmaster != "" %} · <a target="_blank" href="/webmaster">{% trans "Administrateur du site" %}</a>{% endif %}</p>

<p>eplouribousse utilise des données sous <a target="_blank" href="http://www.abes.fr/Media/Fichiers/Footer/Presentation-de-l-ABES/licence-Etalab-francais">licence etalab</a> fournies par l'Agence bibliographique de l’Enseignement supérieur.</p><p>Version : {{ version }}</p>

        </div>
    </body>

</html>
