{% load i18n %}
<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


    </head>


    <body>

      {% if k != 0 %}
      <b><font color= #017a04 >@ </font></b>{{ k }} (<a href="/./disconnect">{% trans "Déconnexion" %}</a>)
      {% else %}
      <!-- <b><font color= #ff0004 >(User : Anonymous)</font></b> -->
      <!-- (User : Anonymous) -->
      {% endif %}
      <p></p>
      <h2>{{ name }} - {% trans "collections à instruire" %}</h2>
      <h2>{% trans "Autre collection participante" %} : {{ xname }}</h2>

        <div id="content">

      <p><b>{% trans "Nombre de ressources concernées" %} :</b> {{ size }}</p>
      <p><b><font color= #a7a7a7 >1/2</font></b> ou <b><font color= #a7a7a7 >2/2</font></b> : {% trans "Phase d'instruction courante, 1 = reliés, 2 = non reliés" %} (<b><font color= #a7a7a7 >*</font></b> = {% trans "collection mère" %})</p>
      <p>{% trans "Pour chercher une occurrence dans cette liste, veuillez utiliser la fonctionnalité de recherche du navigateur." %}</p>

    <p>{% trans "Pour instruire, cliquez sur le lien [Identifiant de la ressource]" %}.</p>

        {% if sort == 'title' %}
        <p>({% trans "Classement par" %} {% trans "titre" %}, {% trans "reclasser par" %} : <a href="/instrlist/{{ lid }}/{{ xlid }}/cn">{% trans "cote et titre" %}</a>
         / <a href="/instrlist/{{ lid }}/{{ xlid }}/sid">{% trans "ppn" %}</a>)</p>
         {% elif sort == 'cn' %}
         <p>({% trans "Classement par" %} {% trans "cote" %}, {% trans "reclasser par" %} : <a href="/instrlist/{{ lid }}/{{ xlid }}/title">{% trans "titre" %}</a> / <a href="/instrlist/{{ lid }}/{{ xlid }}/sid">{% trans "ppn" %}</a>)</p>
          {% elif sort == 'sid' %}
          <p>({% trans "Classement par" %} {% trans "ppn" %}, {% trans "reclasser par" %} : <a href="/instrlist/{{ lid }}/{{ xlid }}/title">{% trans "titre" %}</a> / <a href="/instrlist/{{ lid }}/{{ xlid }}/cn">{% trans "cote et titre" %}</a>)</p>
        {% endif %}

      <ul>
            <HR>
       {% for elmt in l %}

           {% if elmt.status == 1 %}
             {% if elmt.rank == 1 %}
             <li><b><font color= #a7a7a7 >*1/2</font> {% trans "Titre" %} :</b> {{ elmt.title }}</li>
             <li><b>{% trans "Cote" %} :</b> {{ elmt.cn }}</li>
             <li><b>{% trans "Identifiant de la ressource" %} :</b> <a href="/add/{{ elmt.sid }}/{{ elmt.lid }}">{{ elmt.sid }}</a></li>
             {% elif elmt.rank != 1 %}
             <li><b><font color= #a7a7a7 >1/2</font> {% trans "Titre" %} :</b> {{ elmt.title }}</li>
             <li><b>{% trans "Cote" %} :</b> {{ elmt.cn }}</li>
             <li><b>{% trans "Identifiant de la ressource" %} :</b> <a href="/add/{{ elmt.sid }}/{{ elmt.lid }}">{{ elmt.sid }}</a></li>
             {% endif %}
           {% elif elmt.status == 3 %}
             {% if elmt.rank == 1 %}
             <li><b><font color= #a7a7a7 >*2/2</font> {% trans "Titre" %} :</b> {{ elmt.title }}</li>
             <li><b>{% trans "Cote" %} :</b> {{ elmt.cn }}</li>
             <li><b>{% trans "Identifiant de la ressource" %} :</b> <a href="/add/{{ elmt.sid }}/{{ elmt.lid }}">{{ elmt.sid }}</a></li>
             {% elif elmt.rank != 1 %}
             <li><b><font color= #a7a7a7 >2/2</font> {% trans "Titre" %} :</b> {{ elmt.title }}</li>
             <li><b>{% trans "Cote" %} :</b> {{ elmt.cn }}</li>
             <li><b>{% trans "Identifiant de la ressource" %} :</b> <a href="/add/{{ elmt.sid }}/{{ elmt.lid }}">{{ elmt.sid }}</a></li>
             {% endif %}
           {% endif %}
            <HR>

       {% endfor %}

      </ul>
        </div>
        <div id="menugeneral">
      <p><b>{% trans "Menu" %} : </b><a href="/arb/{{ lid }}/title">{% trans "Arbitrages" %}</a> - <a href="/rklist/{{ lid }}/title">{% trans "Positionnement" %}</a> - <a href="/edlist/{{ lid }}/title">{% trans "Edition" %}</a></p>
        </div>

        <div id="footer">
            <p><a href="/">{% trans "Accueil" %}</a> - <a target="_blank" href="{% static 'doc/User_Documentation.pdf' %}">{% trans "Manuel de l'utilisateur" %}</a></p>
        </div>

        <div id="credits">
            <p>Conservation et valorisation des collections · Service des bibliothèques de l'Université de Strasbourg · {{ version }} · <a target="_blank" href="/about">{% trans "A propos" %}</a></p>

<p>eplouribousse utilise des données sous <a target="_blank" href="http://www.abes.fr/Media/Fichiers/Footer/Presentation-de-l-ABES/licence-Etalab-francais">licence etalab</a> fournies par l'Agence bibliographique de l’Enseignement supérieur.</p>

        </div>

    </body>

</html>
