@font-face {
    font-family: "Unistra B";
    src: url("/fonts/UnistraB-Regular.ttf") format("ttf"),
}


html {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #ffffff;
    font-family: "Unistra B", sans-serif;
    font-size: 18px;
    line-height: 1.22222;
    color: #000000;
}

select {
    font-family: "Unistra B", sans-serif;
    font-size: 18px;
    line-height: 1.22222;
    color: #000000;
}

#logo {
    width: 22%;
    margin: 0 auto;
    padding: 2% 0% 1% 0%;
}

a {
    color: #ff1d44;
}

a:hover {
    font-weight: 600;
}

h1 {
    font-size: 30px;
    color: #ff1d44;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding-top: 5px;
    max-width: 80%;
}

h2 {
    font-size: 30px;
    color: #ff1d44;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    max-width: 80%;
}

#content {
    background-color: #ffffff;
    width: 80%;
    margin: 0 auto;
}

#content p {
    text-align: left;
}

#content ul {
    list-style: none;
}

#content input[type="submit"] {
    border-color: #ff1d44;
    border-style: solid;
    border-width: 2px;
    background-color: #ffffff;
    font-family: "Unistra B", sans-serif;
    font-size: 18px;
    color: #ff1d44;
    padding-left: 1%;
    padding-right: 1%;
}

#content input[type="submit"]:hover {
    background-color: #ff1d44;
    font-family: "Unistra B", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    padding-left: 1%;
    padding-right: 1%;
}

#footer {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f1f1f2;
    text-align: center;
    color: #ff1d44;
}

#footer a {
    color: #ff1d44;
}

#credits {
    position: sticky;
    bottom: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #808285;
}

#credits p {
    font-size: 12px;
    width: 80%;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
}

table {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

thead {
    background-color: #ff1d44;
}

th {
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
}

table, th, td {
    border: 1px solid black;
    vertical-align: middle;
}

form table {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

form thead {
    background-color: #f1f1f2;
    /* color: #ffffff; */
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

form th {
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

form table, th, td {
    border: 1px solid black;
    vertical-align: middle;
}

#menucontextuel {
    color: #ff1d44;
    text-align: center;
}

#menucontextuel a {
    color: #ff1d44;
}

#menugeneral {
    color: #ff1d44;
    text-align: center;
}

#menugeneral a {
    color: #ff1d44;
}

#credits a {
    color: #ffffff;
}

#highlight {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f1f1f2;
    /* text-align: center; */
    /* color: #ff1d44; */
}

#highlight a {
    color: #ff1d44;
}

/* [STICKY MENU] */
/* Merci à W.S. Toh : https://code-boxx.com/simple-sticky-menu-css/ */
#sticky-menu {
  /* position: sticky; */
  top: 0;
  left: 0;
  /* width: 0 auto; */
  background: #ff1d44;
  margin: 0 auto;
}

#sticky-menu a {
  display: inline-block;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
}

#sticky-section {
  position: sticky;
  top: 0;
  left: 0;
  width: 80%;
  background: #ffffff;
  margin: 0 auto;
}
