<!-- templates/registration/login.html -->
{% load i18n %}
<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">



    </head>


    <body>

        <div id="logo"><img src="{% static "pictures/signature_eplouribousse.svg" %}" alt="Logo eplouribousse Unistra"/></div>

          <h2>{% trans "Authentification" %}</h2>


        <div id="content">

          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
          </form>
<p></p>
<p></p>
          {% trans "Plusieurs raisons peuvent vous avoir conduit à cette page (dans l'ordre décroissant de fréquence) :" %}
<p></p>

          <li>{% trans "L'action que vous requérez exige l'authentification" %}</li>
          <li>{% trans "Vous venez de cliquer sur le lien [M'authentifier] situé en page d'accueil" %}</li>
          <li>{% trans "Vous venez de cliquer sur le lien [Changer mon mot de passe] situé en page d'accueil, mais vous n'étiez pas encore authentifié (authentifiez vous d'abord avec votre mot de passe actuel)" %}</li>

          <h5>{% trans "La déconnexion se fait depuis le lien disponible en page d'accueil." %}</h5>
        </div>

    </body>

</html>
