<!-- templates/registration/login.html -->
{% load i18n %}
<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static './favicon.ico' %}">



    </head>


    <body>

        <div id="logo"><img src="{% static "pictures/signature_eplouribousse.svg" %}" alt="Logo eplouribousse Unistra"/></div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <center><font color= #0000FF ><p>{{ message }}</p></font></center>
            {% endfor %}
        </ul>
        {% endif %}
          <h2>{% trans "Réinitialisation du mot de passe" %}</h2>
        <p>{% trans "Mot de passe perdu (ou pas encore attribué) ? Saisissez votre adresse électronique ci-dessous et nous vous enverrons les instructions pour en créer un nouveau" %}.</p>
        <p></p>
          <form method="post">
            {% csrf_token %}
            {{ password_reset_form }}
            <p><button type="submit">{% trans "Envoyer" %}</button></p>
          </form>


    </body>

</html>
