<!-- templates/registration/login.html -->
{% load i18n %}
<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static './favicon.ico' %}">



    </head>


    <body>

        <div id="logo"><img src="{% static "pictures/signature_eplouribousse.svg" %}" alt="Logo eplouribousse Unistra"/></div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <center><font color= #0000FF ><p>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p></font></center>
            {% endfor %}
        </ul>
        {% endif %}
          <h2>{% trans "Mise à jour du mot de passe terminée" %}</h2>
        
        <p>{% trans "Votre mot de passe a été défini. Vous pouvez maintenant vous authentifier" %}.</p>
        <p><a href="/./accounts/login/">{% trans "M'authentifier" %}</a></p>
        


    </body>

</html>
