<!-- templates/registration/login.html -->
{% load i18n %}
<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static './favicon.ico' %}">



    </head>


    <body>

        <div id="logo"><img src="{% static "pictures/signature_eplouribousse.svg" %}" alt="Logo eplouribousse Unistra"/></div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <center><font color= #0000FF ><p>{{ message }}</p></font></center>
            {% endfor %}
        </ul>
        {% endif %}
          <h2>{% trans "Modification du mot de passe" %}</h2>
        
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">{% trans "Modifier mon mot de passe" %}</button>
          </form>


    </body>

</html>
