<!-- templates/registration/login.html -->
{% load i18n %}
<!DOCTYPE html>

<html>

    <head>
<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//webomat.unistra.fr/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '134']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static './favicon.ico' %}">



    </head>


    <body>

        <div id="logo"><img src="{% static "pictures/signature_eplouribousse.svg" %}" alt="Logo eplouribousse Unistra"/></div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <center><font color= #0000FF ><p>{{ message }}</p></font></center>
            {% endfor %}
        </ul>
        {% endif %}
          <h2>{% trans "Réinitialisation du mot de passe" %}</h2>
        <p>{% trans "Mot de passe perdu (ou pas encore attribué) ? Saisissez votre adresse électronique ci-dessous et nous vous enverrons les instructions pour en créer un nouveau" %}.</p>
        <p>{% trans "<u>Attention</u> : saisissez votre courriel entièrement en minuscules" %}.</p>
        <p></p>
          <form method="post">
            {% csrf_token %}
            {{ password_reset_form }}
            <p><button type="submit">{% trans "Envoyer" %}</button></p>
          </form>


    </body>

</html>
