{% load i18n %}
<!DOCTYPE html>

<html>

    <head>


      <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static './favicon.ico' %}">



    </head>

    <div id="sticky-section">
      <nav id="sticky-menu">
          <a href="/{{ bdd }}">{% trans "Accueil" %}</a>
          <a href="/{{ bdd }}/dashboard">{% trans "Supervision" %}</a>
          <a href="/{{ bdd }}/search">{% trans "Recherche (bêta)" %}</a>
          <a target="_blank" href="{% static 'doc/User_Documentation.pdf' %}">{% trans "Manuel de l'utilisateur" %}</a>
          <a target="_blank" href="/./default/about">{% trans "A propos" %}</a>
      </nav>
      <nav id="sticky-menu">
        {% trans "Administration du projet" %} :
        <a href="/{{ bdd }}/adminbase">{% trans "Retour au sommaire" %}</a>
      </nav>
          {% if k != 0 %}
          <p style="text-align:right;"><b><font color= #017a04 >@ </font></b>{{ k }} (<a href="/./default/disconnect">{% trans "Déconnexion" %}</a>)</p>
          {% else %}
          <p style="text-align:right;"><a href="/./accounts/login/">{% trans "M'authentifier" %}</a></p>
          <!-- <b><font color= #ff0004 >(User : Anonymous)</font></b> -->
          <!-- (User : Anonymous) -->
          {% endif %}


<body>


      <h2>{% trans "Administration du projet" %} :  {{ project }}</h2>
      <div align="right"><a href="/{{ bdd }}/lib_adm">{% trans "Vider le formulaire ci-dessous" %}</a></div>
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <center><font color= #0000FF ><p>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p></font></center>
          {% endfor %}
      </ul>
      {% endif %}

      <p><b>{% trans "Gestion des bibliothèques" %} ({{ sizelib }}, {% trans "checker exclu" %}) :</b></p>
      </div>
      <div id="content">
<table border="1">
    {% for l in libtuple %}
  <thead>

      <th>{% trans "Propriété" %}</th>
      <th>{% trans "Valeur actuelle" %}</th>
      <th>{% trans "Identifiant" %}</th>

  </thead>

   <tbody>

     <tr>
           <td>{% trans "Nom de la bibliothèque" %}</td>
           <td>{{ l.0.name }} {% if l.0.name == 'checker'  %} ({% trans "Non modifiable" %}) {% endif %}</td>
           <td></td>
     </tr>
     <tr>
           <td>{% trans "Contact principal" %} ({% trans "Obligatoire" %})</td>
           <td>{{ l.0.contact }}</td>
           <td>{{ l.1.username }}</td>
     </tr>
    <tr>
          <td>{% trans "Second contact" %}</td>
          <td>{% if l.0.contact_bis != None %} {{ l.0.contact_bis }} {% else %} ({% trans "Vacant" %}) {% endif %}</td>
          <td>{% if l.2 != None %} {{ l.2.username }} {% endif %}</td>
    </tr>
    <tr>
          <td>{% trans "Troisième contact" %}</td>
          <td>{% if l.0.contact_ter != None %} {{ l.0.contact_ter }} {% else %} ({% trans "Vacant" %}) {% endif %}</td>
          <td>{% if l.3 != None %} {{ l.3.username }} {% endif %}</td>
    </tr>

   </tbody>
      {% endfor %}
</table>


  <p><form method="post"> {% csrf_token %}
    {{ formlibname.curname }}
    &nbsp;&nbsp;&nbsp;&nbsp;
    {% trans "Nouveau nom de la bibliothèque" %} {{ formnewlibname.newlibrname }}
    <input type="submit" value="{% trans "Valider" %}"> </form></p>

<p><form method="post"> {% csrf_token %}{{ formlibct.name }} &nbsp;&nbsp;&nbsp;&nbsp; {{ formlibct.contactnbr }}
&nbsp;&nbsp;&nbsp;&nbsp; {% trans "Supprimer" %} {{ formlibct.suppr }}<br />
{% trans "ou modifier (ou créer) la paire email / identifiant pour le contact choisi" %} {{ formlibct.contact }} / {{ formlibct.ident }}
<input type="submit" value="{% trans "Valider" %}"> </form></p>


        </div>

        <div id="credits">
            <p>Service des bibliothèques de l'Université de Strasbourg · <a target="_blank" href="/./default/about">{% trans "A propos" %}</a> . <a target="_blank" href="https://groupes.renater.fr/sympa/info/eplouribousse-newsletter">{% trans "Me tenir au courant" %}</a> · <a target="_blank" href="https://groupes.renater.fr/sympa/info/eplouribousse">{% trans "Forum des utilisateurs" %}</a> · <a target="_blank" href="https://bugs.launchpad.net/eplouribousse">{% trans "Suivi des bugs" %}</a>{% if webmaster != "" %} · <a target="_blank" href="/default/webmaster">{% trans "Administrateur du site" %}</a>{% endif %} . <a target="_blank" href="{% static 'doc/confidentialite.pdf' %}">{% trans "Confidentialité" %}</a></p>

<p>eplouribousse utilise des données sous <a target="_blank" href="http://www.abes.fr/Media/Fichiers/Footer/Presentation-de-l-ABES/licence-Etalab-francais">licence etalab</a> fournies par l'<a target="_blank" href="https://abes.fr/l-abes/presentation/">Abes</a>.</p>
<p>Version : {{ version }}</p>

        </div>

</body>

</html>
