{% load i18n %}

<!DOCTYPE html>

<html>

    <head>
<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//webomat.unistra.fr/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '134']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static './favicon.ico' %}">



    </head>


    <body>
        <div id="content">
        <div id="logo"><img src="{% static "pictures/signature_eplouribousse.svg" %}" alt="Logo eplouribousse Unistra"/></div>
        {% if k != 0 %}
        <p style="text-align:right;"><b><font color= #017a04 >@ </font></b>{{ k }} (<a href="/./default/disconnect">{% trans "Déconnexion" %}</a>)</p>
        {% else %}
        <p style="text-align:right;"><a href="/./accounts/login/">{% trans "M'authentifier" %}</a></p>
        <!-- <b><font color= #ff0004 >(User : Anonymous)</font></b> -->
        <!-- (User : Anonymous) -->
        {% endif %}
        <p></p>
        <h1>{% trans "Accueil" %}</h1>
        <h2>{% trans "Projet" %} : {{ project }}</h2>



            <p>{% trans "Intervention possible pour le contrôleur" %} : <a href="/{{ bdd }}/allinstr/999999999/title">{% trans "Instructions" %}</a></p>

        </div>

        <div id="footer">

            <p><a href="/{{ bdd }}/gen_search">{% trans "Recherche" %}</a> - <a href="/{{ bdd }}/dashboard">{% trans "Supervision" %}</a> - <a target="_blank" href="{% static 'doc/html/index.html' %}">{% trans "Manuel de l'utilisateur" %}</a> - <a target="_blank" href="/./accounts/password_change">{% trans "Gérer mon mot de passe" %}</a> - [<a href="/default/globadm">{% trans "Administration générale" %}</a>]</p>

        </div>

    </body>

</html>
