{% load i18n %}

<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static './favicon.ico' %}">



    </head>


    <body>

        <div id="logo"><img src="{% static "pictures/signature_eplouribousse.svg" %}" alt="Logo eplouribousse Unistra"/></div>
        <div id="content">
        {% if k != 0 %}
        <p style="text-align:right;"><b><font color= #017a04 >@ </font></b>{{ k }} (<a href="/./default/disconnect">{% trans "Déconnexion" %}</a>)</p>
        {% else %}
        <p style="text-align:right;"><a href="/./accounts/login/">{% trans "M'authentifier" %}</a></p>
        <!-- <b><font color= #ff0004 >(User : Anonymous)</font></b> -->
        <!-- (User : Anonymous) -->
        {% endif %}
        </div>
        <p></p>
        <h2>{% trans "Confirmation de l'envoi" %}</h2>
        <div id="content">


          <p>{% trans "Votre message a bien été envoyé" %}.</p>
          <p>{% trans "Un message de confirmation vous a été adressé à l'adresse de messagerie indiquée" %}.</p>

        </div>


          <div id="footer">
              <p><a href="/{{ bdd }}">{% trans "Accueil" %}</a> - <a target="_blank" href="{% static 'doc/User_Documentation.pdf' %}">{% trans "Manuel de l'utilisateur" %}</a></p>
          </div>


    </body>

</html>
