{% load i18n %}

<!DOCTYPE html>

<html>

    <head>
<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//webomat.unistra.fr/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '134']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static './favicon.ico' %}">



    </head>

    <body>

        <div id="content">
            
            <h1>Politique de confidentialité - eplouribousse</h1>
            <p></p>
            <p>Eplouribousse est un site web gratuit destiné à faciliter la gestion du dédoublement des collections de revues au format papier, notamment dans les établissements de l’enseignement supérieur et de la recherche. L’application est proposée sous licence <a target="_blank" href="/default/license">BSD 3-Clause Clear License</a>.<br>
                L’Université de Strasbourg est l’hébergeur du site.<br>
                Vous trouverez ci-dessous la Politique de confidentialité d’eplouribousse, autrement dit l’explication de nos pratiques et de nos engagements vis-à-vis du traitement de vos données à caractère personnel.<br>
                Nous mettons en œuvre une démarche d'amélioration continue de notre conformité au <a target="_blank" href="https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=CELEX%3A32016R0679">règlement général sur la protection des données</a> (RGPD) ainsi qu'à la <a target="_blank" href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000000886460/2020-12-13/">loi n° 78-17 du 6 janvier 1978</a> dite « loi Informatique et Libertés » pour assurer le meilleur niveau de protection à vos données personnelles. Pour toute information sur la protection des données personnelles, vous pouvez également consulter le site de la Commission Nationale de l'Informatique et des Libertés (<a target="_blank" href="https://www.cnil.fr/">CNIL</a>).<br>
                <h3>Qui est le responsable du traitement de vos données personnelles ?</h3>
                <p>Le responsable du traitement est, au sens du RGPD, l’entité qui définit pour quel(s) usage(s) et comment vos données personnelles sont utilisées. Le responsable du traitement est le Service des Bibliothèques de l’Université de Strasbourg représenté par son directeur. L’Université de Strasbourg a désigné un délégué à la protection des données (dpo) que vous pouvez contacter pour toute question concernant la protection des données ou pour exercer vos droits, soit par voie électronique : <a target="_blank" href="mailto:dpo@unistra.fr">dpo@unistra.fr</a>, soit par courrier postal à l’adresse suivante :</p>
                Direction du numérique de l’Université de Strasbourg
                <br>
                À l’attention du délégué à la protection des données
                <br>
                14 Rue René Descartes
                <br>
                67084 Strasbourg CEDEX
                <br>
            <h3>Quelles données sont collectées vous concernant et pour quelles raisons ?</h3>
            <p>Dans le cadre de nos activités, nous sommes susceptibles de collecter et traiter des données à caractère personnel relatives aux utilisateurs. Ces différents traitements de données sont détaillés au sein de la présente Politique de confidentialité.</p>
            <li>Connexion au site : </li>
            <p>Lorsque vous vous connectez au site, un certain nombre de données sont automatiquement collectées par l’hébergeur du site concernant votre terminal (ordinateur, smartphone, tablette) et votre navigateur. Cela inclut notamment votre adresse IP.
            <br>
            Ces données sont collectées aux fins d’assurer la connexion entre votre terminal et le serveur du site, ainsi qu’ultérieurement pour détecter des bugs (un bug ou bogue est un défaut de conception d'un programme informatique à l'origine d'un dysfonctionnement) et des tentatives de cyberattaques.
            <br>
            La collecte et le traitement de ces données sont ainsi justifiés par l’intérêt légitime de fournir un site fonctionnel, sécurisé et adapté aux différents types de terminaux et navigateurs présents sur le marché, conformément à l’article 6.1.f) du RGPD.
            <br>
            Ces données sont conservées pendant un an suivant leur collecte, puis pendant la durée de prescription applicable aux fins de gestion des litiges décrites ci-après.</p>
            <li>Création d’un compte et gestion des utilisateurs inscrits : </li>
            <p><b>Informations nécessaires à la création d’un compte et à la gestion des utilisateurs inscrits :</b> nous collectons les informations que vous nous avez fournies lors de votre inscription : adresse électronique et nom d’utilisateur.
            <br>
            Ces informations sont utilisées dans le cadre du fonctionnement courant du site, notamment lors des opérations d’authentification et de l’envoi des alertes. Elles peuvent également être utilisées pour communiquer avec les utilisateurs.
            <br>
            Ces données sont conservées pendant la durée du contrat, puis pendant la durée de prescription applicable aux fins de gestion des litiges décrites ci-après.
            <br>
            Ce traitement de données est fondé sur votre consentement, conformément à l’article 6.1.a) du RGPD.
            <br>
            Ces données sont conservées jusqu’au retrait de votre consentement, puis pendant la durée de prescription applicable aux fins de gestion des litiges décrites ci-après.
            <br>
            <br><b>Cookies de session :</b> par ailleurs, le site utilise des cookies de session. Ces cookies stockent temporairement les informations que vous nous avez communiquées et nous permettent ainsi de suivre vos mouvements d’une page à une autre sans vous demander à nouveau ces informations pour vous authentifier.
            <br>
            Ce traitement de données est fondé sur l’intérêt légitime du responsable du site à améliorer l’expérience de navigation, conformément à l’article 6.1.f) du RGPD.
            <br>Ces données sont conservées le temps de la session de navigation. Vous pouvez configurer ces cookies depuis les paramètres de votre navigateur.</p>
            <li>Support technique : </li>
            <p>Lorsque vous nous sollicitez pour la résolution d’un problème technique, nous collectons un certain nombre d’informations telles que votre adresse électronique, la date et l’heure de votre demande, ainsi que les motifs du problème signalé.
            <br>Par ailleurs, il peut arriver que l’administrateur ait besoin d’accéder à votre compte pour constater un problème ou effectuer une action à votre place.
            <br>Ce traitement de données est justifié par l’intérêt légitime du responsable du site à offrir un support technique à ses utilisateurs, conformément à l’article 6.1.f) du RGPD.
            <br>Ces données sont conservées jusqu’à la résolution du problème, puis pendant la durée de prescription applicable aux fins de gestion des litiges décrites ci-après. </p>
            <li>Gestion des litiges (éventuels ou actuels) : </li>
            <p>Nous serons susceptibles de conserver toutes données dont la conservation nous apparaîtrait nécessaire ou utile pour prévenir un litige et gérer tous contentieux ou précontentieux.
            <br>
            Nous nous en servirons, le cas échéant, pour prévenir, déclencher ou répondre à un litige de ce type, que vous soyez partie litige à ce litige ou non (par exemple un litige relatif à l’utilisation de nos services).
            <br>
            Cette conservation est justifiée par l’intérêt légitime du responsable du site à protéger et défendre ses droits et intérêts, y compris en justice, conformément à l’article 6.1.f) du RGPD.
            <br>
            Nous conserverons ainsi toutes données pertinentes du point de vue probatoire pour la durée de prescription légalement applicable, soit en principe 5 ans (prescription civile de droit commun).</p>
            <li>Respect d'une obligation légale : </li>
            <p>Nous sommes susceptibles de conserver toutes données dont la conservation nous apparaîtrait nécessaire pour respecter nos obligations légales, pour le temps nécessaire au respect de ces obligations.
            <br>
            Cette conservation est justifiée par le respect d’une obligation légale à laquelle le responsable du site est soumise, conformément à l’article 6.1.c) du RGPD.
            <br>
            Nous conserverons ces données pendant un an, puis pendant la durée de prescription légalement applicable selon les obligations légales concernées.
            <br>
            Nous nous efforçons de mettre toutes les mesures techniques et organisationnelles en place pour parvenir aux durées de conservation énoncées ci-dessus.
            <br>
            En tout état de cause, vous restez maître de vos données par l’intermédiaire du droit à l’effacement évoqué ci-dessous. Nous vous informerons lorsqu’une demande d’effacement n’est pas conforme avec nos obligations légales.</p>       

<h3>Qui a accès à vos données ?</h3>
<p>Vos données sont hébergées par l’Université de Strasbourg. Elles peuvent être consultées par l’administrateur du site et par la Direction du Numérique (DNum) de l’Université de Strasbourg.</p>
            
<h3>De quels droits disposez-vous pour contrôler le traitement de vos données personnelles ? </h3>
<p>Vous disposez, au même titre que n’importe quelle autre personne dont nous collectons et traitons des données à caractère personnel, d’un certain nombre de droits prévus par la réglementation.
<br>
Vous pouvez exercer ces droits simplement, en écrivant directement à l’adresse email suivante : <a target="_blank" href="mailto:dpo@unistra.fr">dpo@unistra.fr</a> ou par courrier postal à l’adresse suivante :<br><br>
Direction du numérique de l’Université de Strasbourg<br>
À l’attention du délégué à la protection des données<br>
14 Rue René Descartes<br>
67084 Strasbourg CEDEX<br><br>
<b>Pensez à bien indiquer dans votre e-mail la nature du droit que vous souhaitez exercer et les raisons qui justifient, le cas échéant, votre demande d’exercice de ce droit.</b></p>
<li>Droit d’accès : </li>
<p>Vous pouvez nous demander la confirmation que des données à caractère personnel vous concernant sont ou ne sont pas traitées et, lorsqu’elles le sont, l’accès auxdites données. Vous avez le droit de nous demander une copie des données à caractère personnel dont nous disposons vous concernant, dans un format aisément compréhensible, ainsi qu’une copie de la présente Politique sur support durable.</p>
<li>Droit de rectification : </li>
<p>Vous pouvez nous demander de corriger, de compléter ou de mettre à jour les données dont nous disposons vous concernant, dans le cas où elles vous sembleraient inexactes, incomplètes ou obsolètes.<br><br>
Dans ce cas, nous vous remercions de bien vouloir nous communiquer spontanément, dans la mesure du possible, les nouvelles informations nécessaires pour procéder à la correction, à la complétion ou à la mise à jour demandée.</p>
<li>Droit au retrait du consentement : </li>
<p>S’agissant des traitements fondés sur votre consentement, vous pouvez retirer ce consentement à tout moment, sans justification. Le retrait de votre consentement entraîne la cessation du traitement pour l’avenir.</p>
<li>Droit d’opposition : </li>
<p><b>Traitements de données fondés sur l’intérêt légitime du responsable du site :</b> s’agissant des traitements de données listés ci-avant qui ont pour justification des intérêts légitimes du responsable du site, vous disposez du droit de vous y opposer pour des raisons tenant à votre situation particulière.<br>
Autrement dit, vous pouvez demander au responsable du site la cessation de l’un et/ou l’autre de ces traitements à votre égard, en exposant les raisons particulières qui justifient cette demande.<br>
<b>Données traitées à des fins statistiques :</b> s’agissant des traitements de données à des fins statistiques, vous disposez du droit de vous y opposer pour des raisons tenant à votre situation particulière, à moins que le traitement ne soit nécessaire à l’exécution d’une mission d’intérêt public.<br>
L’opposition (si elle est fondée sur des raisons valables et qu’aucun motif légitime et impérieux ne s’y oppose ou que le traitement n’est pas nécessaire à l’exécution d’une mission d’intérêt public) entraînera la cessation du traitement pour l’avenir, mais pas nécessairement la destruction des données concernées : pour obtenir cette destruction, vous devez exercer votre droit à l’effacement dans les conditions décrites ci-après, étant précisé que ce dernier connaît des limitations, exposées ci-après.</p>
<li>Droit à l’effacement : </li> 
<p>Vous pouvez nous demander de procéder à la suppression de tout ou partie des données dont nous disposons vous concernant, dès lors que l’une au moins des conditions suivantes est remplie :</p>
    <ul>Les données concernées n’apparaissent plus nécessaires à aucune des finalités précédemment exposées ;</ul>
    <ul>Vous avez retiré votre consentement ;</ul>
    <ul>Vous vous êtes opposé(e) à la poursuite de ce traitement et souhaitez de surcroît que le responsable du site procède à la destruction des données concernées ;</ul>
    <ul>Vous considérez que vos données à caractère personnel ont fait l’objet d’un traitement illicite de la part du responsable du site;</ul>
    <ul>Les données concernées doivent être effacées au titre d’une obligation légale ;</ul>

<p>Sachez toutefois que l’Université de Strasbourg est en droit de s’opposer à la suppression de certaines données, lorsque leur conservation est nécessaire pour des raisons particulièrement importantes, telles que la protection et la défense de ses intérêts en justice.<br>
Par ailleurs, nous pourrons choisir, en lieu et place de la suppression des données, de procéder à leur anonymisation complète et irréversible. De cette manière, nous serons en droit de conserver ces données dans un format ne permettant plus de vous identifier (par exemple : à des fins statistiques).<br> 
Vous considérez que nous n’avons pas répondu de façon satisfaisante à votre demande, ou que nous traitons vos données de façon illicite ?<br>
Nous vous invitons bien sûr tout d’abord à vous rapprocher de l’administrateur du site pour que nous discutions ensemble du problème, et tâchions de le résoudre ensemble de la meilleure manière possible.<br>
Vous pouvez pour ce faire utiliser le <a target="_blank" href="https://sbu-eplouribousse.unistra.fr/default/webmaster">formulaire de contact</a> disponible en ligne.<br>
Si cette voie de recours ne vous satisfait pas, vous êtes invité à vous adresser au délégué à la protection des données de l’Université de Strasbourg en écrivant directement à <a target="_blank" href="mailto:dpo@unistra.fr">dpo@unistra.fr</a> ou par courrier postal à l’adresse suivante :</p>
Direction du numérique de l’Université de Strasbourg<br>
À l’attention du délégué à la protection des données<br>
14 Rue René Descartes<br>
67084 Strasbourg CEDEX<br><br>
Si vous le souhaitez, vous avez cependant le droit de saisir l’autorité compétente pour la protection des données en France, à savoir la CNIL, via <a target="_blank" href="https://www.cnil.fr/">son site internet</a> ou par courrier postal à l’adresse suivante : CNIL – 3, Place de Fontenoy – TSA 80715 – 75334 PARIS CEDEX 07.<br>
Ce droit peut être exercé à tout moment et n’occasionne aucun frais pour vous, mis à part les frais d’expédition du courrier postal le cas échéant, et les frais éventuels d’assistance ou de représentation si vous choisissez de vous faire aider dans cette procédure par un tiers.<br><br>
            
(Fin)
            <p>Dernière mise à jour : 5 octobre 2022</p>            
            
            
        </div>

    </body>

</html>
