{% load i18n %}

<!DOCTYPE html>

<html>

    <head>
<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//webomat.unistra.fr/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '134']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static './favicon.ico' %}">



    </head>


    <body>

        <div id="logo"><img src="{% static "pictures/signature_eplouribousse.svg" %}" alt="Logo eplouribousse Unistra"/></div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <center><font color= #0000FF ><p>{{ message }}</p></font></center>
            {% endfor %}
        </ul>
        {% endif %}
        <p></p>
        <div id="content">
<p style="text-align:right;"><a href="/./accounts/login/">{% trans "M'authentifier" %}</a></p>
        <p style="text-align:center;"><b><font color= #017a04 >@ : {% trans "Déconnexion effectuée" %}</font></b></p>

            <p>{% trans "Merci pour le temps que vous avez accordé à ce site aujourd’hui" %}.</p>
          <p style="text-align:center;"><b><a href="/">{% trans "Retour à la page d'accueil" %}</a></b></p>
        </div>

        <div id="footer">

            <p><a target="_blank" href="{% static 'doc/html/index.html' %}">{% trans "Manuel de l'utilisateur" %}</a> - <a target="_blank" href="/./accounts/password_change">{% trans "Gérer mon mot de passe" %}</a> - <a href="/default/lang">{% trans "en / de" %}</a></p>
            <p>[<a href="/default/globadm">{% trans "Administration générale" %}</a>]</p>
        </div>

        <div id="credits">
              <p>Service des bibliothèques de l'Université de Strasbourg · <a target="_blank" href="/./default/about">{% trans "A propos" %}</a> . <a target="_blank" href="https://groupes.renater.fr/sympa/info/eplouribousse-newsletter">{% trans "infolettre" %}</a> · <a target="_blank" href="https://groupes.renater.fr/sympa/info/eplouribousse">{% trans "Forum des utilisateurs" %}</a> · <a target="_blank" href="https://git.unistra.fr/gressot/yellow/-/issues">{% trans "Tickets" %}</a>{% if webmaster != "" %} · <a target="_blank" href="/default/webmaster">{% trans "Administrateur du site" %}</a>{% endif %} . <a target="_blank" href="/default/cgu">{% trans "CGU" %}</a> . <a target="_blank" href="/default/confidentialite">{% trans "Confidentialité" %}</a></p>

              <p>eplouribousse utilise des données sous <a target="_blank" href="http://www.abes.fr/Media/Fichiers/Footer/Presentation-de-l-ABES/licence-Etalab-francais">licence etalab</a> fournies par l'<a target="_blank" href="https://abes.fr/l-abes/presentation/">Abes</a>.</p>
<p>Version : {{ version }}</p>
		    </div>

    </body>

</html>
