{% load i18n %}
<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static './favicon.ico' %}">



    </head>

    <div id="sticky-section">
      <nav id="sticky-menu">
          <a href="/{{ bdd }}">{% trans "Accueil" %}</a>
          <a href="/{{ bdd }}/dashboard">{% trans "Supervision" %}</a>
          <a href="/{{ bdd }}/search">{% trans "Recherche" %}</a>
          <a target="_blank" href="{% static 'doc/User_Documentation.pdf' %}">{% trans "Manuel de l'utilisateur" %}</a>
          <a target="_blank" href="/./{{ bdd }}/projectmaster">{% trans "Contact du projet" %}</a>
          <a target="_blank" href="/./default/about">{% trans "A propos" %}</a>
      </nav>
          {% if k != 0 %}
          <p style="text-align:right;"><b><font color= #017a04 >@ </font></b>{{ k }} (<a href="/./default/disconnect">{% trans "Déconnexion" %}</a>)</p>
          {% else %}
          <p style="text-align:right;"><a href="/./accounts/login/">{% trans "M'authentifier" %}</a></p>
          <!-- <b><font color= #ff0004 >(User : Anonymous)</font></b> -->
          <!-- (User : Anonymous) -->
          {% endif %}


          <h2>{{ libname }} - {% trans "Instruction / Filtre" %}</h2>


            <form method="post">

                {% csrf_token %}

                <ul>{% trans "Autre collection impliquée" %} {{ form.name }} <input type="submit" value="{% trans "Valider" %}"></ul>

            </form>

        <!-- <HR> -->
      </div>

    <body>



    </body>

</html>
