{% load i18n %}
<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">    <link rel="shortcut icon" type="image/x-icon" href="{% static './favicon.ico' %}">


    </head>

    <div id="sticky-section">
      <nav id="sticky-menu">
          <a href="/{{ bdd }}">{% trans "Accueil" %}</a>
          <a href="/{{ bdd }}/dashboard">{% trans "Supervision" %}</a>
          <a href="/{{ bdd }}/search">{% trans "Recherche (bêta)" %}</a>
          <a target="_blank" href="{% static 'doc/User_Documentation.pdf' %}">{% trans "Manuel de l'utilisateur" %}</a>
          <a target="_blank" href="/./{{ bdd }}/projectmaster">{% trans "Contact du projet" %}</a>
          <a target="_blank" href="/./default/about">{% trans "A propos" %}</a>
      </nav>
      <nav id="sticky-menu">
        {% trans "Instructions" %} :
          <a href="/{{ bdd }}/bd1/{{ lid }}/title">{% trans "reliés rang 1" %}</a>
          <a href="/{{ bdd }}/notbd1/{{ lid }}/title">{% trans "non reliés rang 1" %}</a>
          <a href="/{{ bdd }}/notbdnot1/{{ lid }}/title">{% trans "non reliés autres rangs" %}</a>
          <a href="/{{ bdd }}/allinstr/{{ lid }}/title">{% trans "tout" %}</a>
      </nav>


          {% if k != 0 %}
          <p style="text-align:right;"><b><font color= #017a04 >@ </font></b>{{ k }} (<a href="/./default/disconnect">{% trans "Déconnexion" %}</a>)</p>
          {% else %}
          <p style="text-align:right;"><a href="/./accounts/login/">{% trans "M'authentifier" %}</a></p>
          <!-- <b><font color= #ff0004 >(User : Anonymous)</font></b> -->
          <!-- (User : Anonymous) -->
          {% endif %}


          <h2>{{ libname }} - {% trans "Instructions" %} - {% trans "forme reliée, autres rangs" %}</h2>


          <p>{% if size > 0 %}<button><b><a href="/{{ bdd }}/csv/{{ lid }}/None/{{ sidlist }}/36/{{ size }}" title="(Avec les autres rattachements)">{% trans "liste csv" %}</a></b></button> ~ {% endif %}<b>{% trans "Nombre de ressources concernées" %} :</b> {{ size }} 
          ~ 

              {% if sort == 'title' %}
              ({% trans "Classement par" %} {% trans "titre" %}, {% trans "reclasser par" %} : <a href="/{{ bdd }}/bdnot1/{{ lid }}/cn">{% trans "cote et titre" %}</a>
               / <a href="/{{ bdd }}/bdnot1/{{ lid }}/sid">{% trans "ppn" %}</a>)
               {% elif sort == 'cn' %}
               ({% trans "Classement par" %} {% trans "cote" %}, {% trans "reclasser par" %} : <a href="/{{ bdd }}/bdnot1/{{ lid }}/title">{% trans "titre" %}</a> / <a href="/{{ bdd }}/bdnot1/{{ lid }}/sid">{% trans "ppn" %}</a>)
                {% elif sort == 'sid' %}
                ({% trans "Classement par" %} {% trans "ppn" %}, {% trans "reclasser par" %} : <a href="/{{ bdd }}/bdnot1/{{ lid }}/title">{% trans "titre" %}</a> / <a href="/{{ bdd }}/bdnot1/{{ lid }}/cn">{% trans "cote et titre" %}</a>)
              {% endif %}
		  </p>
        <HR>
      </div>

    <body>


        <div id="content">
      <ul>

      {% for elmt in l %}

            <!-- <HR> -->
      <p></p>
          <li><b>{% trans "Titre" %} :</b> {{ elmt.title }}</li>
          <li><b>{% trans "Cote" %} :</b> {{ elmt.cn }}</li>
          <li><b>{% trans "Identifiant de la ressource" %} :</b> <a href="/{{ bdd }}/add/{{ elmt.sid }}/{{ elmt.lid }}">{{ elmt.sid }}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="/{{ bdd }}/current_status/{{ elmt.sid }}/{{ lid }}">0^0</a></li>

            <HR>

      {% endfor %}


      </ul>
        </div>

        <div id="credits">
            <p>Service des bibliothèques de l'Université de Strasbourg · <a target="_blank" href="/./default/about">{% trans "A propos" %}</a> . <a target="_blank" href="https://groupes.renater.fr/sympa/info/eplouribousse-newsletter">{% trans "Me tenir au courant" %}</a> · <a target="_blank" href="https://groupes.renater.fr/sympa/info/eplouribousse">{% trans "Forum des utilisateurs" %}</a> · <a target="_blank" href="https://bugs.launchpad.net/eplouribousse">{% trans "Suivi des bugs" %}</a>{% if webmaster != "" %} · <a target="_blank" href="/default/webmaster">{% trans "Administrateur du site" %}</a>{% endif %}</p>

<p>eplouribousse utilise des données sous <a target="_blank" href="http://www.abes.fr/Media/Fichiers/Footer/Presentation-de-l-ABES/licence-Etalab-francais">licence etalab</a> fournies par l'<a target="_blank" href="https://abes.fr/l-abes/presentation/">Abes</a>.</p><p>Version : {{ version }}</p>

        </div>

    </body>

</html>
