{% load i18n %}

<!DOCTYPE html>

<html>

    <head>
<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//webomat.unistra.fr/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '134']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static './favicon.ico' %}">



    </head>


    <body>

        <div id="logo"><img src="{% static "pictures/signature_eplouribousse.svg" %}" alt="Logo eplouribousse Unistra"/></div>
        <div id="content">
        {% if k != 0 %}
        <p style="text-align:right;"><b><font color= #017a04 >@ </font></b>{{ k }} (<a href="/./default/disconnect">{% trans "Déconnexion" %}</a>)</p>
        {% else %}
        <p style="text-align:right;"><a href="/./accounts/login/">{% trans "M'authentifier" %}</a></p>
        <!-- <b><font color= #ff0004 >(User : Anonymous)</font></b> -->
        <!-- (User : Anonymous) -->
        {% endif %}
        </div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <center><font color= #0000FF ><p>{{ message }}</p></font></center>
            {% endfor %}
        </ul>
        {% endif %}
        <p></p>
        <h2>{% trans "Contacter l'administration du projet" %} : {{ project }}</h2>
        <div id="content">


<p></p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions">
              <button type="submit">Envoyer</button>
            </div>
        </form>
        </div>


          <div id="footer">
              <p><a href="/{{ bdd }}">{% trans "Accueil" %}</a> - <a target="_blank" href="{% static 'doc/User_Documentation.pdf' %}">{% trans "Manuel de l'utilisateur" %}</a></p>
          </div>



    </body>

</html>
