{% load i18n %}

<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static './favicon.ico' %}">



    </head>


    <body>

        <div id="logo"><img src="{% static "pictures/signature_eplouribousse.svg" %}" alt="Logo eplouribousse Unistra"/></div>

        <div id="content">
        <p></p>
        {% if k != 0 %}
        <p style="text-align:right;"><b><font color= #017a04 >@ </font></b>{{ k }} (<a href="/./default/disconnect">{% trans "Déconnexion" %}</a>)</p>
        {% else %}
        <p style="text-align:right;"><a href="/./accounts/login/">{% trans "M'authentifier" %}</a></p>
        <!-- <b><font color= #ff0004 >(User : Anonymous)</font></b> -->
        <!-- (User : Anonymous) -->
        {% endif %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <center><font color= #0000FF ><p>{{ message }}</p></font></center>
            {% endfor %}
        </ul>
        {% endif %}

        <h1>{% trans "Selection de la base de données" %}</h1>

        <br><br><br>


<p></p>
          <form method="post">
            <p>{% trans "Projet" %} : {{ f.bddname }}</p>
            {% csrf_token %}
            <p><input type="submit" value="{% trans "Valider" %}"></p>
          </form>
        <br><br><br>
        </div>

        <p><center><code>{% trans "Projets" %} : {{ projnbr }} - {% trans "Bibliothèques" %} : {{ librnbr }} - {% trans "Utilisateurs" %} : {{ usernbr }} -
          {% trans "Rattachements" %} : {{ itemrecnbr }} - {% trans "Ressources candidates" %} : {{ totcand }} - {% trans "Instructions" %} : {{ instrnbr }}</code><center></p>

        <div id="footer">

            <p><a target="_blank" href="{% static 'doc/User_Documentation.pdf' %}">{% trans "Manuel de l'utilisateur" %}</a> -
              <a target="_blank" href="/./accounts/password_change">{% trans "Gérer mon mot de passe" %}</a> -
              [<a href="/default/globadm">{% trans "Administration générale (réservé)" %}</a>] - <a href="/default/lang">{% trans "en / de" %}</a></p>




        </div>


        <div id="credits">
              <p>Service des bibliothèques de l'Université de Strasbourg · <a target="_blank" href="/./default/about">{% trans "A propos" %}</a> . <a target="_blank" href="https://groupes.renater.fr/sympa/info/eplouribousse-newsletter">{% trans "Me tenir au courant" %}</a> · <a target="_blank" href="https://groupes.renater.fr/sympa/info/eplouribousse">{% trans "Forum des utilisateurs" %}</a> · <a target="_blank" href="https://bugs.launchpad.net/eplouribousse">{% trans "Suivi des bugs" %}</a>{% if webmaster != "" %} · <a target="_blank" href="/default/webmaster">{% trans "Administrateur du site" %}</a>{% endif %} . <a target="_blank" href="{% static 'doc/confidentialite.pdf' %}">{% trans "Confidentialité" %}</a></p>
              <p>eplouribousse utilise des données sous <a target="_blank" href="http://www.abes.fr/Media/Fichiers/Footer/Presentation-de-l-ABES/licence-Etalab-francais">licence etalab</a> fournies par l'<a target="_blank" href="https://abes.fr/l-abes/presentation/">Abes</a>.</p>
<p>Version : {{ version }}</p>
		    </div>

    </body>

</html>
