{% load i18n %}
<!DOCTYPE html>

<html>

    <head>
<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//webomat.unistra.fr/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '134']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static './favicon.ico' %}">


    </head>

  </head>
  <div id="sticky-section">
    <nav id="sticky-menu">
        <a href="/{{ bdd }}">{% trans "Accueil" %}</a>
        <a href="/{{ bdd }}/dashboard">{% trans "Supervision" %}</a>
        <a href="/{{ bdd }}/gen_search">{% trans "Recherche" %}</a>
        <a target="_blank" href="{% static 'doc/html/index.html' %}">{% trans "Manuel de l'utilisateur" %}</a>
        <a target="_blank" href="/./{{ bdd }}/projectmaster">{% trans "Contact du projet" %}</a>
        <a target="_blank" href="/./default/about">{% trans "A propos" %}</a>
    </nav>

        {% if k != 0 %}
        <p style="text-align:right;"><b><font color= #017a04 >@ </font></b>{{ k }} (<a href="/./default/disconnect">{% trans "Déconnexion" %}</a>)</p>
        {% else %}
        <p style="text-align:right;"><a href="/./accounts/login/">{% trans "M'authentifier" %}</a></p>
        <!-- <b><font color= #ff0004 >(User : Anonymous)</font></b> -->
        <!-- (User : Anonymous) -->
        {% endif %}

        <h2>{{ library.name }} - {% trans "Sélection de la ligne à modifier" %}</h2>


          <p><b>{% trans "Titre" %} :</b> {{ ressource.title|truncatewords:80 }}</p>
          <p><b>{% trans "Identifiant de la ressource" %} :</b> <a href="https://www.sudoc.fr/{{ sid }}" target="_blank">
            {{ ressource.sid }}</a> / <b>issn :</b> {{ ressource.issn }} / <b>{% trans "Historique de la publication" %} :</b> {{ ressource.pubhist }} / <b>{% trans "Ordre de traitement" %} :</b>


          {% for elmt in librarylist %}
              {{ elmt.name }} |
          {% endfor %}
          {% if itrec.cn != "" %} <b>{% trans "Cote" %} :</b> {{ itrec.cn }}{% endif %}
          {% if itrec.holdstat != "" %} / <b>{% trans "Etat de collection" %} :</b> {{ itrec.holdstat }} {% endif %}
          {% if itrec.missing != "" %} / <b>{% trans "Lacunes" %} :</b> {{ itrec.missing }}{% endif %}</p>

        <p><i>({% trans "Les lignes en rouge ne peuvent plus être modifiées" %})</i></p>
      <HR>
    </div>

    <body>


      <div id="content">
      <table border="1">

         <thead>

             <th>{% trans "Ligne" %}</th>
             <th>{% trans "Bibliothèque" %}</th>
             <th>{% trans "Forme reliée" %}</th>
             <th>{% trans "Bibliothèque remédiée" %}</th>
             <th>{% trans "Segment" %}</th>
             <th>{% trans "Exceptions" %}</th>
             <th>{% trans "Eléments améliorables" %}</th>

         </thead>

         <tbody>

           {% for elmt in instructions %}
              {% if elmt.name == library.name and elmt.bound == expected %}
          <tr>
               <td><center><font color= #2ba121 >{{ elmt.line }}</font></center></td>
               <td><font color= #2ba121 >{{ elmt.name }}</font></td>
               <td><center><font color= #2ba121 >{{ elmt.bound }}</font></center></td>
               <td><font color= #2ba121 >{{ elmt.oname }}</font></td>
               <td><font color= #2ba121 >{{ elmt.descr }}</font></td>
               <td><font color= #2ba121 >{{ elmt.exc }}</font></td>
               <td><font color= #2ba121 >{{ elmt.degr }}</font></td>
          </tr>
              {% else %}
          <tr>
              <td><center><font color= #e32111 >{{ elmt.line }}</font></center></td>
              <td><font color= #e32111 >{{ elmt.name }}</font></td>
              <td><center><font color= #e32111 >{{ elmt.bound }}</font></center></td>
              <td><font color= #e32111 >{{ elmt.oname }}</font></td>
              <td><font color= #e32111 >{{ elmt.descr }}</font></td>
              <td><font color= #e32111 >{{ elmt.exc }}</font></td>
              <td><font color= #e32111 >{{ elmt.degr }}</font></td>

          </tr>
              {% endif %}
           {% endfor %}
         </tbody>


      </table>

      {% if answer == "" %}

      <form method="post">{% csrf_token %}
          <p>{% trans "Ligne à modifier" %} : {{ form.row }} <B><font color= #e74c3c >{{ answer }}</font></B></p>
          <p><input type="submit" value="{% trans "Valider" %}"></p>

      </form>

      {% else %}
        <p><B><font color= #3364ff >{{ answer }}.</font></B></p>
      {% endif %}
      </div>

      <div id="menucontextuel">

        <p><button><b><a href="/{{ bdd }}/add/{{ sid }}/{{ lid }}">{% trans "Revenir à l'instruction" %}</a></b></button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button><b><a href="/{{ bdd }}/end/{{ sid }}/{{ lid }}">{% trans "J'ai fini pour la forme courante" %}</a></b></button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button><b><a href="/{{ bdd }}/del/{{ sid }}/{{ library.lid }}">{% trans "Supprimer une ligne erronée" %}</a></b></button> -
          <button><b><a href="/{{ bdd }}/router/{{ lid }}">{% trans "Reprendre plus tard" %}</a></b></button></p>

      </div>




  </body>

</html>
