{% load i18n %}
<!DOCTYPE html>

<html>

    <head>
<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//webomat.unistra.fr/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '134']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

      <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static './favicon.ico' %}">



    </head>

    <div id="sticky-section">
      <nav id="sticky-menu">
          <a href="/{{ bdd }}">{% trans "Accueil" %}</a>
          <a href="/{{ bdd }}/dashboard">{% trans "Supervision" %}</a>
          <a href="/{{ bdd }}/gen_search">{% trans "Recherche" %}</a>
          <a target="_blank" href="{% static 'doc/html/index.html' %}">{% trans "Manuel de l'utilisateur" %}</a>
          <a target="_blank" href="/./{{ bdd }}/projectmaster">{% trans "Contact du projet" %}</a>
          <a target="_blank" href="/./default/about">{% trans "A propos" %}</a>
      </nav>

          {% if k != 0 %}
          <p style="text-align:right;"><b><font color= #017a04 >@ </font></b>{{ k }} (<a href="/./default/disconnect">{% trans "Déconnexion" %}</a>)</p>
          {% else %}
          <p style="text-align:right;"><a href="/./accounts/login/">{% trans "M'authentifier" %}</a></p>
          <!-- <b><font color= #ff0004 >(User : Anonymous)</font></b> -->
          <!-- (User : Anonymous) -->
          {% endif %}
    </div>
    <div id="content">
        <h2>{% trans "Administration des statuts" %} ({{ sid }})</h2>

        <p><b>{% trans "Titre" %} :</b> {{ itemrec.title|truncatewords:80 }} / <b>{% trans "Identifiant de la ressource" %} :</b> {{ itemrec.sid }} / <b>issn :</b> {{ itemrec.issn }} / <b>{% trans "Historique de la publication" %} :</b> {{ itemrec.pubhist }}</p>
        
        <p><b>{% trans "Ordre d'instruction" %} :</b>
        {% for l in liblist %}
            {{ l.name }}
            {% if l.name != "checker" %}
            >
            {% endif %}
        {% endfor %}
        </p>


        <form method="post">{% csrf_token %}

          <p><center>{% trans "Je veux donner le tour d'instruire à" %} : {{ form }}</center></p>
        
          <p><center>{% trans "Après les contrôles nécessaires, les statuts seront recalculés automatiquement" %}</center></p>
            
          <p><center>{% trans "(Avant toute modification, les éventuelles anomalies vous seront signalées pour correction)" %}</center></p>
            
          <p><center>{% trans "Dans tous les cas, la fiche courante vous sera retournée pour vérification ou correction." %}</center></p>

          <p><input type="submit" value="{% trans "Valider" %}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button><b><a href="/{{ bdd }}/current_status/{{ sid }}/999999999">{% trans "Revenir à la fiche statut" %}</a></b></button></p>

        </form>
        </div>



    </body>

</html>
