{% load i18n %}
<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static './favicon.ico' %}">


    </head>
    <div id="sticky-section">
      <nav id="sticky-menu">
          <a href="/{{ bdd }}">{% trans "Accueil" %}</a>
          <a href="/{{ bdd }}/dashboard">{% trans "Supervision" %}</a>
          <a href="/{{ bdd }}/search">{% trans "Recherche" %}</a>
          <a target="_blank" href="{% static 'doc/User_Documentation.pdf' %}">{% trans "Manuel de l'utilisateur" %}</a>
          <a target="_blank" href="/./{{ bdd }}/projectmaster">{% trans "Contact du projet" %}</a>
          <a target="_blank" href="/./default/about">{% trans "A propos" %}</a>
      </nav>
          {% if k != 0 %}
          <p style="text-align:right;"><b><font color= #017a04 >@ </font></b>{{ k }} (<a href="/./default/disconnect">{% trans "Déconnexion" %}</a>)</p>
          {% else %}
          <p style="text-align:right;"><a href="/./accounts/login/">{% trans "M'authentifier" %}</a></p>
          <!-- <b><font color= #ff0004 >(User : Anonymous)</font></b> -->
          <!-- (User : Anonymous) -->
          {% endif %}
          <h2>{{ libname }} - {% trans "ressources éditables" %}</h2>

          <p>{% if size > 0 %}<button><b><a href="/{{ bdd }}/csv/{{ lid }}/None/{{ sidlist }}/40/{{ size }}" title="(Avec les autres rattachements)">{% trans "liste csv" %}</a></b></button> ~ {% endif %}<b>{% trans "Nombre de ressources concernées" %} :</b> {{ size }} ~ <button><b><a target="_blank" href="/{{ bdd }}/edallpdf/{{ lid }}">{% trans "rapports pdf" %}</a></b></button> 
          
          ~ 
            {% if sort == 'title' %}
            ({% trans "Classement par" %} {% trans "titre" %}, {% trans "reclasser par" %} : <a href="/{{ bdd }}/edlist/{{ lid }}/cn">{% trans "cote et titre" %}</a>
             / <a href="/{{ bdd }}/edlist/{{ lid }}/sid">{% trans "ppn" %}</a>)
             {% elif sort == 'cn' %}
             ({% trans "Classement par" %} {% trans "cote" %}, {% trans "reclasser par" %} : <a href="/{{ bdd }}/edlist/{{ lid }}/title">{% trans "titre" %}</a> / <a href="/{{ bdd }}/edlist/{{ lid }}/sid">{% trans "ppn" %}</a>)
              {% elif sort == 'sid' %}
              ({% trans "Classement par" %} {% trans "ppn" %}, {% trans "reclasser par" %} : <a href="/{{ bdd }}/edlist/{{ lid }}/title">{% trans "titre" %}</a> / <a href="/{{ bdd }}/edlist/{{ lid }}/cn">{% trans "cote et titre" %}</a>)
            {% endif %}
          </p>

          <p>
            <b><font color= #a7a7a7 >*</font></b> : {% trans "Votre collection est la collection mère" %}
             (<a href="/{{ bdd }}/edmotherlist/{{ lid }}/title">{% trans "Restreindre la liste à ces cas" %}</a> /
             <a href="/{{ bdd }}/ednotmotherlist/{{ lid }}/title">{% trans "Restreindre aux autres cas" %}</a> /
             <a href="/{{ bdd }}/edfilter/{{ lid }}">{% trans "Filtrer plus finement" %}</a>)
           </p>

        <HR>
      </div>

    <body>
      <div id="content">
      <ul>

       {% for elmt in resslist %}
          {% if elmt.rank == 1 %}
              <!-- <HR> -->
       <p></p>
          <li><b><font color= #a7a7a7 >*</font></b></li>
          <li><b>{% trans "Titre" %} :</b> {{ elmt.title }}</li>
          <li><b>{% trans "Cote" %} :</b> {{ elmt.cn }}</li>
          <li><b>{% trans "Identifiant de la ressource" %} :</b> <a href="/{{ bdd }}/ed/{{ elmt.sid }}/{{ lid }}">{{ elmt.sid }}</a></li>
              <HR>
          {% elif elmt.rank != 1 %}
              <!-- <HR> -->
        <p></p>
           <li><b>{% trans "Titre" %} :</b> {{ elmt.title }}</li>
           <li><b>{% trans "Cote" %} :</b> {{ elmt.cn }}</li>
           <li><b>{% trans "Identifiant de la ressource" %} :</b> <a href="/{{ bdd }}/ed/{{ elmt.sid }}/{{ lid }}">{{ elmt.sid }}</a></li>
              <HR>
           {% endif %}

       {% endfor %}
              <!-- <HR> -->

      </ul>
        </div>


    </body>

</html>
